# 평균 구매빈도수 구하기 (R)

In [1]:
import os

#현재 폴더 경로; 작업 폴더 기준
print(os.getcwd())

C:\Users\jeoun\Documents\GitHub\study\study\2차 플젝\second_projects

In [2]:
import pandas as pd
purchase_1 = pd.read_csv('생성데이터/purchase1_include_pt.csv', index_col = 0)
purchase_1

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14265415,15018,C,63,990213,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20151018,2015,4,10,15,11400,중가
14265416,6415,C,417,10193213,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140928,2014,3,9,13,13818,중가
14265417,15265,C,133,6069525,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150117,2015,1,1,17,13000,중가
14265418,7962,C,89,1141067,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150924,2015,3,9,18,8158,중가
14265419,2273,C,253,7565660,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141225,2014,4,12,17,21900,중가

In [3]:
purchase_2 = pd.read_csv('생성데이터/purchase2_include_pt.csv', index_col = 0)
purchase_2

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
14265420,7249,C,200,7252615,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141116,2014,4,11,18,4497,중가
14265421,3733,C,292,9196569,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140128,2014,1,1,18,7500,중가
14265422,8710,C,277,8617166,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141102,2014,4,11,17,22120,중가
14265423,16883,C,475,6641782,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150321,2015,1,3,23,8990,중가
14265424,5625,C,64,976199,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150319,2015,1,3,18,17000,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

In [4]:
purchase_1.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가

In [5]:
purchase_2.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
14265420,7249,C,200,7252615,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141116,2014,4,11,18,4497,중가
14265421,3733,C,292,9196569,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140128,2014,1,1,18,7500,중가
14265422,8710,C,277,8617166,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141102,2014,4,11,17,22120,중가
14265423,16883,C,475,6641782,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150321,2015,1,3,23,8990,중가
14265424,5625,C,64,976199,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150319,2015,1,3,18,17000,중가

In [6]:
purchase_2.isnull().sum()

CUSTNO             0
ASSO               0
STCODE             0
RNO                0
BBCL               0
BCL                0
MCL                0
SCL                0
TYPE               0
PURDATE            0
PURYEAR            0
QUARTER            0
PURMONTH           0
PURHOUR            0
PURAMT             0
PRICE_TYPE    147745
dtype: int64

In [7]:
purchase_1.isnull().sum()

CUSTNO            0
ASSO              0
STCODE            0
RNO               0
BBCL              0
BCL               0
MCL               0
SCL               0
TYPE              0
PURDATE           0
PURYEAR           0
QUARTER           0
PURMONTH          0
PURHOUR           0
PURAMT            0
PRICE_TYPE    19191
dtype: int64

In [8]:
purchase_1[purchase_1['PRICE_TYPE'].isnull() == True]

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
2896096,14647,B,44,8744853,의류/이미용,의류,덧신,여성스타킹덧신,일용품,20150615,2015,2,6,18,3900,NaN
2896097,11018,B,19,7662860,의류/이미용,의류,덧신,여성스타킹덧신,일용품,20150523,2015,2,5,20,5700,NaN
2896098,13559,B,45,8787211,의류/이미용,의류,덧신,여성스타킹덧신,일용품,20150601,2015,2,6,13,6800,NaN
2896099,16317,B,45,8787294,의류/이미용,의류,덧신,여성스타킹덧신,일용품,20150604,2015,2,6,12,3800,NaN
2896100,18048,B,46,8828567,의류/이미용,의류,덧신,여성스타킹덧신,일용품,20150724,2015,3,7,23,1900,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10257155,3858,B,44,8738445,의류/이미용,의류,란제리,기능성란제리,일용품,20150512,2015,2,5,21,10000,NaN
10257156,9563,B,28,8063024,의류/이미용,의류,란제리,기능성란제리,일용품,20140215,2014,1,2,17,19900,NaN
10257157,13557,B,25,7894345,의류/이미용,의류,란제리,기능성란제리,일용품,20141203,2014,4,12,21,17900,NaN
10257158,3098,B,41,8575183,의류/이미용,의류,란제리,기능성란제리,일용품,20150203,2015,1,2,17,15700,NaN
10257159,10889,B,33,8302779,의류/이미용,의류,란제리,기능성란제리,일용품,20150131,2015,1,1,21,15900,NaN

In [9]:
purchase_2[purchase_2['PRICE_TYPE'].isnull() == True]

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
21260711,313,A,1,1294639,의류/이미용,의류,란제리/내의,란제리,일용품,20140128,2014,1,1,16,81700,NaN
21260712,4125,A,32,2613610,의류/이미용,의류,란제리/내의,란제리,일용품,20140827,2014,3,8,17,111000,NaN
21260713,4125,A,32,2613611,의류/이미용,의류,란제리/내의,란제리,일용품,20140827,2014,3,8,17,117800,NaN
21260714,2010,A,20,4393924,의류/이미용,의류,란제리/내의,란제리,일용품,20150526,2015,2,5,11,70300,NaN
21260715,15565,A,20,4393925,의류/이미용,의류,란제리/내의,란제리,일용품,20150526,2015,2,5,13,18000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28592223,2049,A,1,4772296,의류/이미용,의류,란제리/내의,EC(해외잡화),일용품,20150723,2015,3,7,14,42000,NaN
28592224,2888,A,1,4772297,의류/이미용,의류,란제리/내의,EC(해외잡화),일용품,20150723,2015,3,7,17,49000,NaN
28592831,17082,B,116,10563481,의류/이미용,의류,언더웨어행사,아동기타행사,일용품,20150728,2015,3,7,14,8500,NaN
28592970,10062,B,135,11096559,의류/이미용,의류,성인내의,온라인 성인내의,일용품,20141027,2014,4,10,20,6900,NaN
28592994,9188,B,7,6493374,의류/이미용,의류,홈웨어,여성잠옷,일용품,20140925,2014,3,9,20,25900,NaN

# NULL 값 채우기 (금액타입)

In [10]:
null_idx_1 = purchase_1[purchase_1['PRICE_TYPE'].isnull() == True]
null_idx_2 = purchase_2[purchase_2['PRICE_TYPE'].isnull() == True]

## 함수생성(df, 널값인덱스를 넣으면 널값 채운 df 반환)

In [11]:
def return_fillnull(purchase_final, null_idx):
    for idx in null_idx:
        if purchase_final.loc[idx]['ASSO'] == 'A' and purchase_final.loc[idx]['MCL'] == '란제리/내의':
            purchase_final.loc[idx,'PRICE_TYPE'] = '고가'
        elif purchase_final.loc[idx]['ASSO'] == 'A' and purchase_final.loc[idx]['MCL'] == '웨딩':
            purchase_final.loc[idx,'PRICE_TYPE'] = '중가'
        elif purchase_final.loc[idx]['ASSO'] == 'B' and purchase_final.loc[idx]['MCL'] in ('성인내의','란제리','스타킹','아동내의','언더웨어행사', '덧신','홈웨어'):
            purchase_final.loc[idx,'PRICE_TYPE'] = '저가'
        elif purchase_final.loc[idx]['ASSO'] == 'B' and purchase_final.loc[idx]['MCL'] == '란제리브랜드':
            purchase_final.loc[idx,'PRICE_TYPE'] = '중가'
    return purchase_final

In [12]:
purchase_n1 = return_fillnull(purchase_1, null_idx_1.index)
purchase_n2 = return_fillnull(purchase_2, null_idx_2.index)

In [13]:
purchase_n1.isnull().sum().sum()

0

In [14]:
purchase_n2.isnull().sum().sum()

0

# [null값 채운 데이터 저장]

In [15]:
purchase_n1.to_csv('purchase_n1_fillna.csv')
purchase_n2.to_csv('purchase_n2_fillna.csv')

In [16]:
purchase_n1['BBCL'].unique()

array(['식품/생활', '침구/주방', '교육문화/아동', '의류/이미용', '가구인테리어/잡화', '가전/레저취미/멀티샵'],
      dtype=object)

In [17]:
purchase_n1.shape

(14127934, 16)

In [18]:
purchase_n2.shape

(14127934, 16)

## 1분기 데이터

In [19]:
purchase_Qn1 = purchase_n1[(purchase_n1['PURYEAR']==2014)&(purchase_n1['QUARTER']==1)]
# purchase_Qn2 = purchase_n2[(purchase_n2['PURYEAR']==2014)&(purchase_n2['QUARTER']==1)]
purchase_Qn1.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
26,1310,B,32,8198575,식품/생활,식품,탄산음료,사이다,일용품,20140125,2014,1,1,21,4050,중가
49,11545,B,27,7959782,식품/생활,식품,탄산음료,사이다,일용품,20140113,2014,1,1,13,1200,중가
59,12233,B,66,9338166,식품/생활,식품,탄산음료,사이다,일용품,20140207,2014,1,2,21,1970,중가

In [20]:
purchase_Qn2 = purchase_n2[(purchase_n2['PURYEAR']==2014)&(purchase_n2['QUARTER']==1)]
purchase_Qn2.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
14265421,3733,C,292,9196569,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140128,2014,1,1,18,7500,중가
14265428,18230,C,268,8437421,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140320,2014,1,3,21,13464,중가
14265463,14550,C,69,1028373,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140224,2014,1,2,18,13007,중가
14265473,5257,C,131,6057789,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140130,2014,1,1,13,9980,중가
14265476,1082,C,85,1117530,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140108,2014,1,1,15,8340,중가

In [21]:
purchase_Q1 = pd.concat([purchase_Qn1, purchase_Qn2])

In [22]:
purchase_Q1.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
26,1310,B,32,8198575,식품/생활,식품,탄산음료,사이다,일용품,20140125,2014,1,1,21,4050,중가
49,11545,B,27,7959782,식품/생활,식품,탄산음료,사이다,일용품,20140113,2014,1,1,13,1200,중가
59,12233,B,66,9338166,식품/생활,식품,탄산음료,사이다,일용품,20140207,2014,1,2,21,1970,중가

In [23]:
purchase_Q1['PURYEAR'].value_counts()

2014    3211790
Name: PURYEAR, dtype: int64

In [24]:
purchase_Q1['QUARTER'].value_counts()

1    3211790
Name: QUARTER, dtype: int64

In [27]:
purchase_Q1['TOTAL_CAT'] = purchase_Q1['BBCL'] + '_' +purchase_Q1['PRICE_TYPE']

In [28]:
purchase_Q1.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,식품/생활_중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,식품/생활_중가
26,1310,B,32,8198575,식품/생활,식품,탄산음료,사이다,일용품,20140125,2014,1,1,21,4050,중가,식품/생활_중가
49,11545,B,27,7959782,식품/생활,식품,탄산음료,사이다,일용품,20140113,2014,1,1,13,1200,중가,식품/생활_중가
59,12233,B,66,9338166,식품/생활,식품,탄산음료,사이다,일용품,20140207,2014,1,2,21,1970,중가,식품/생활_중가

In [29]:
purchase_Q1['TOTAL_CAT'].value_counts()

식품/생활_중가          1580670
식품/생활_저가           953672
식품/생활_고가           164411
의류/이미용_중가           87297
의류/이미용_저가           81649
가구인테리어/잡화_저가        73397
침구/주방_저가            55811
의류/이미용_고가           42161
교육문화/아동_중가          38780
교육문화/아동_저가          29372
가전/레저취미/멀티샵_중가      24953
가전/레저취미/멀티샵_저가      20056
가구인테리어/잡화_중가        16823
침구/주방_고가            12473
침구/주방_중가            11370
가구인테리어/잡화_고가         8264
가전/레저취미/멀티샵_고가       7396
교육문화/아동_고가           3235
Name: TOTAL_CAT, dtype: int64

In [30]:
len(purchase_Q1['TOTAL_CAT'].value_counts())

18

# [분기별 전체 데이터 저장]

In [32]:
def output_total_2014q(quater):
    purchase_Qn1 = purchase_n1[(purchase_n1['PURYEAR']==2014)&(purchase_n1['QUARTER']==quater)]
    purchase_Qn2 = purchase_n2[(purchase_n2['PURYEAR']==2014)&(purchase_n2['QUARTER']==quater)]

    purchase_Q1 = pd.concat([purchase_Qn1, purchase_Qn2])

    purchase_Q1['TOTAL_CAT'] = purchase_Q1['BBCL'] + '_' +purchase_Q1['PRICE_TYPE']
    print(len(purchase_Q1['TOTAL_CAT'].value_counts()))
    return purchase_Q1

In [34]:
q1 = output_total_2014q(1)
q2 = output_total_2014q(2)
q3 = output_total_2014q(3)
q4 = output_total_2014q(4)

18
18
18
18

In [39]:
q2.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
21,14795,B,71,9427551,식품/생활,식품,탄산음료,사이다,일용품,20140408,2014,2,4,20,6400,중가,식품/생활_중가
27,10050,B,34,8345963,식품/생활,식품,탄산음료,사이다,일용품,20140621,2014,2,6,22,2650,중가,식품/생활_중가
52,18080,B,71,9431864,식품/생활,식품,탄산음료,사이다,일용품,20140607,2014,2,6,14,1290,중가,식품/생활_중가
56,16364,B,72,9477508,식품/생활,식품,탄산음료,사이다,일용품,20140604,2014,2,6,21,2650,중가,식품/생활_중가
65,6477,B,32,8211013,식품/생활,식품,탄산음료,사이다,일용품,20140607,2014,2,6,17,1300,중가,식품/생활_중가

In [40]:
q3.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,식품/생활_중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,식품/생활_중가
31,10757,B,34,8353764,식품/생활,식품,탄산음료,사이다,일용품,20140805,2014,3,8,20,1780,중가,식품/생활_중가
32,18775,B,76,9578488,식품/생활,식품,탄산음료,사이다,일용품,20140710,2014,3,7,22,1250,중가,식품/생활_중가
37,8083,B,36,8460236,식품/생활,식품,탄산음료,사이다,일용품,20140706,2014,3,7,16,1300,중가,식품/생활_중가

In [36]:
def output_total_2015q(quater):
    purchase_Qn1 = purchase_n1[(purchase_n1['PURYEAR']==2015)&(purchase_n1['QUARTER']==quater)]
    purchase_Qn2 = purchase_n2[(purchase_n2['PURYEAR']==2015)&(purchase_n2['QUARTER']==quater)]

    purchase_Q1 = pd.concat([purchase_Qn1, purchase_Qn2])

    purchase_Q1['TOTAL_CAT'] = purchase_Q1['BBCL'] + '_' +purchase_Q1['PRICE_TYPE']
    print(len(purchase_Q1['TOTAL_CAT'].value_counts()))
    return purchase_Q1

In [37]:
q5 = output_total_2015q(1)
q6 = output_total_2015q(2)
q7 = output_total_2015q(3)
q8 = output_total_2015q(4)

18
18
18
18

In [44]:
q8.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
9,2492,B,44,8767387,식품/생활,식품,탄산음료,사이다,일용품,20151023,2015,4,10,14,600,중가,식품/생활_중가
15,10474,B,26,7957189,식품/생활,식품,탄산음료,사이다,일용품,20151116,2015,4,11,22,1980,중가,식품/생활_중가
17,12059,B,21,7778593,식품/생활,식품,탄산음료,사이다,일용품,20151124,2015,4,11,20,1100,중가,식품/생활_중가
18,13778,B,36,8490944,식품/생활,식품,탄산음료,사이다,일용품,20151020,2015,4,10,18,1380,중가,식품/생활_중가
44,6271,B,68,9383318,식품/생활,식품,탄산음료,사이다,일용품,20151227,2015,4,12,14,1200,중가,식품/생활_중가

In [45]:
q1.to_csv('total_Q1.csv')
q2.to_csv('total_Q2.csv')
q3.to_csv('total_Q3.csv')
q4.to_csv('total_Q4.csv')
q5.to_csv('total_Q5.csv')
q6.to_csv('total_Q6.csv')
q7.to_csv('total_Q7.csv')
q8.to_csv('total_Q8.csv')

## [연습]

1. 해당 분기 데이터 <br>
2. 해당 고객 데이터 <br>
3. 해당 카테고리 데이터 <br>
4. 구매 날짜 내림차순 정렬 후 (중복 날짜 제거) 두 날짜간 차이 <br>
5. 구한 날짜간 차이들의 평균 값 = 빈도수 <br>

##### 1. 해당 분기 데이터 : 1분기

In [46]:
q1.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,식품/생활_중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,식품/생활_중가
26,1310,B,32,8198575,식품/생활,식품,탄산음료,사이다,일용품,20140125,2014,1,1,21,4050,중가,식품/생활_중가
49,11545,B,27,7959782,식품/생활,식품,탄산음료,사이다,일용품,20140113,2014,1,1,13,1200,중가,식품/생활_중가
59,12233,B,66,9338166,식품/생활,식품,탄산음료,사이다,일용품,20140207,2014,1,2,21,1970,중가,식품/생활_중가

##### 카테고리별 확인

###### 고객별 index

In [52]:
cust_li = q1['CUSTNO'].unique().tolist()
cust_li.sort()
len(cust_li)

18866

In [53]:
cate_li = q1['TOTAL_CAT'].unique().tolist()
cate_li.sort()
cate_li

['가구인테리어/잡화_고가',
 '가구인테리어/잡화_저가',
 '가구인테리어/잡화_중가',
 '가전/레저취미/멀티샵_고가',
 '가전/레저취미/멀티샵_저가',
 '가전/레저취미/멀티샵_중가',
 '교육문화/아동_고가',
 '교육문화/아동_저가',
 '교육문화/아동_중가',
 '식품/생활_고가',
 '식품/생활_저가',
 '식품/생활_중가',
 '의류/이미용_고가',
 '의류/이미용_저가',
 '의류/이미용_중가',
 '침구/주방_고가',
 '침구/주방_저가',
 '침구/주방_중가']

In [54]:
df_t = pd.DataFrame(index = cust_li, columns = cate_li)
df_t.shape

(18866, 18)

In [ ]:
from datetime import datetime

for cust in cust_li:
    for cate in cate_li:
        cust_df = q1[(q1['CUSTNO']==cust)&(q1['TOTAL_CAT']==cate)]

        cat_date = cust_df['PURDATE'].unique().tolist()
        cat_date.sort(reverse=True)
        
        if len(cat_date) == 0:
            pass
        elif len(cat_date) == 1:
            mean_date = 'just_one'
            df_t.loc[cust, cate] = mean_date
        else:
            date_li = []
            for day_ind in range(len(cat_date)-1):
                day_after = cat_date[day_ind]
                day_before = cat_date[day_ind + 1]

                # 다음구매일 - 전구매일
                date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')

                date_li.append(date.days)
            # 평균 구매일    
            mean_date = sum(date_li) / len(date_li)

            df_t.loc[cust, cate] = mean_date
df_t.head()

# [함수] : 카테고리별 분기별 고객별 평균구매주기 데이터

In [ ]:
from datetime import datetime

def out_q_df(df):
    # 고객
    cust_li = df['CUSTNO'].unique().tolist()
    cust_li.sort()
    # 카테고리
    cate_li = df['TOTAL_CAT'].unique().tolist()
    cate_li.sort()
    
    # 최종 df 
    df_t = pd.DataFrame(index = cust_li, columns = cate_li)
    
    # 고객별, 카테고리별 df 반출
    for cust in cust_li:
        for cate in cate_li:
            cust_df = df[(df['CUSTNO']==cust)&(df['TOTAL_CAT']==cate)]

            cat_date = cust_df['PURDATE'].unique().tolist()
            cat_date.sort(reverse=True)

            if len(cat_date) == 0:
                pass
            elif len(cat_date) == 1:
                mean_date = 'just_one'
                df_t.loc[cust, cate] = mean_date
            else:
                date_li = []
                for day_ind in range(len(cat_date)-1):
                    day_after = cat_date[day_ind]
                    day_before = cat_date[day_ind + 1]

                    # 다음구매일 - 전구매일
                    date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')

                    date_li.append(date.days)
                # 평균 구매일    
                mean_date = sum(date_li) / len(date_li)

                df_t.loc[cust, cate] = mean_date
    return df_t

[함수 적용]

#### 2분기

In [ ]:
Q_2 = out_q_df(q2)

#### 3분기

In [ ]:
Q_3 = out_q_df(q3)

#### 4분기

In [ ]:
Q_4 = out_q_df(q4)

#### 5분기

In [ ]:
Q_5 = out_q_df(q5)

#### 6분기

In [ ]:
Q_6 = out_q_df(q6)

#### 7분기

In [ ]:
Q_7 = out_q_df(q7)

#### 8분기

In [ ]:
Q_8 = out_q_df(q8)

##### 2. 해당 고객 데이터 : 17218

In [47]:
df_cust = q1[q1['CUSTNO']==17218]
df_cust.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,식품/생활_중가
12178,17218,B,44,8660711,식품/생활,식품,탄산음료,사이다,일용품,20140130,2014,1,1,12,2420,중가,식품/생활_중가
38263,17218,B,44,8664000,식품/생활,식품,소주,병소주,일용품,20140222,2014,1,2,20,1070,중가,식품/생활_중가
103132,17218,B,44,8664000,식품/생활,식품,맥주,국산맥주,일용품,20140222,2014,1,2,20,8060,중가,식품/생활_중가
104032,17218,B,44,8668151,식품/생활,식품,맥주,국산맥주,일용품,20140321,2014,1,3,18,2420,중가,식품/생활_중가

In [48]:
q1['CUSTNO'].value_counts()

17884    1708
8210     1057
13148    1026
144      1015
12871     961
         ...
18369       1
14439       1
15925       1
18716       1
19054       1
Name: CUSTNO, Length: 18866, dtype: int64

In [49]:
len(q1['CUSTNO'].value_counts())

18866

- 두 데이터 합치기

##### 3. 해당 카테고리 데이터

In [46]:
q1['TOTAL_CAT'].unique()

array(['식품/생활_중가', '식품/생활_저가', '식품/생활_고가', '침구/주방_저가', '교육문화/아동_저가',
       '의류/이미용_저가', '가전/레저취미/멀티샵_저가', '의류/이미용_중가'], dtype=object)

In [47]:
t_df_cat = q1[q1['TOTAL_CAT'] == '식품/생활_중가']
t_df_cat.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,식품/생활_중가
12178,17218,B,44,8660711,식품/생활,식품,탄산음료,사이다,일용품,20140130,2014,1,1,12,2420,중가,식품/생활_중가
38263,17218,B,44,8664000,식품/생활,식품,소주,병소주,일용품,20140222,2014,1,2,20,1070,중가,식품/생활_중가
103132,17218,B,44,8664000,식품/생활,식품,맥주,국산맥주,일용품,20140222,2014,1,2,20,8060,중가,식품/생활_중가
104032,17218,B,44,8668151,식품/생활,식품,맥주,국산맥주,일용품,20140321,2014,1,3,18,2420,중가,식품/생활_중가

In [48]:
from datetime import datetime
t_df_cat['PURDATE'].unique()

array([20140222, 20140130, 20140321, 20140306, 20140326, 20140330,
       20140214, 20140125, 20140106, 20140109, 20140302, 20140307,
       20140122, 20140131, 20140117, 20140129, 20140221, 20140113,
       20140107, 20140225, 20140228, 20140202, 20140323, 20140207,
       20140110, 20140319, 20140206, 20140314, 20140316, 20140211,
       20140212, 20140303, 20140322], dtype=int64)

In [54]:
cat_date = t_df_cat['PURDATE'].unique().tolist()
cat_date.sort(reverse=True)
print(cat_date)

[20140330, 20140326, 20140323, 20140322, 20140321, 20140319, 20140316, 20140314, 20140307, 20140306, 20140303, 20140302, 20140228, 20140225, 20140222, 20140221, 20140214, 20140212, 20140211, 20140207, 20140206, 20140202, 20140131, 20140130, 20140129, 20140125, 20140122, 20140117, 20140113, 20140110, 20140109, 20140107, 20140106]

##### 4. 구매 날짜 내림차순 정렬 후 (중복 날짜 제거) 두 날짜간 차이

In [60]:
cat_date[12]

20140228

In [62]:
datetime.strptime(str(cat_date[10]),'%Y%m%d') - datetime.strptime(str(cat_date[12]),'%Y%m%d')

datetime.timedelta(days=3)

In [64]:
(datetime.strptime(str(cat_date[10]),'%Y%m%d') - datetime.strptime(str(cat_date[12]),'%Y%m%d')).days

3

In [66]:
li = [3, 4, 5]

In [70]:
sum(li)

12

In [72]:
date_li = []
for day_ind in range(len(cat_date)-1):
    day_after = cat_date[day_ind]
    day_before = cat_date[day_ind + 1]
    
    # 다음구매일 - 전구매일
    date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')
    
    date_li.append(date.days)
# 평균 구매일    
print(date_li)

[4, 3, 1, 1, 2, 3, 2, 7, 1, 3, 1, 2, 3, 3, 1, 7, 2, 1, 4, 1, 4, 2, 1, 1, 4, 3, 5, 4, 3, 1, 2, 1]

##### 5. 구한 날짜간 차이들의 평균 값 = 빈도수

In [73]:
sum(date_li) / len(date_li)

2.59375

#### 식 예체2_고객 1 , '가전/레저취미/멀티샵_고가' 확인

In [89]:
df_cust1 = pur_q1[pur_q1['CUSTNO']==1]
df_cust_1 = pur_q1_2[pur_q1_2['CUSTNO']==1]
t_df1 = pd.concat([df_cust1, df_cust_1])
t_df1['TOTAL_CAT'] = t_df1['BBCL'] + '_' + t_df1['PRICE_TYPE']
t_df_cat1 = t_df1[t_df1['TOTAL_CAT'] == '가전/레저취미/멀티샵_고가']
cat_date1 = t_df_cat1['PURDATE'].unique().tolist()
cat_date1.sort(reverse=True)
print(cat_date1)

[20140227]

In [91]:
len(cat_date1)

1

In [87]:
date_li = []
for day_ind in range(len(cat_date1)-1):
    day_after = cat_date1[day_ind]
    day_before = cat_date1[day_ind + 1]
    
    # 다음구매일 - 전구매일
    date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')
    
    date_li.append(date.days)
# 평균 구매일    
print(date_li)

[7, 59]

In [88]:
sum(date_li)/len(date_li)

33.0

In [74]:
# 최종 df
total_ = pd.read_csv('생성데이터/weight_plus_2014_q1.csv', index_col = 0)
total_.head()

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,0.0,405723.634896,0.000000,7.583585e+05,0.000000,69247.331249,0.0,0.0,108156.932364,951553.888033,0.000000,7.571291e+05,2.407699e+06,0.000000,3.197202e+06,2.085722e+05,0.000000,494024.599590
2,0.0,583637.809185,165551.643573,2.595070e+06,32409.891463,0.000000,0.0,0.0,118770.365673,480907.463277,0.000000,2.381060e+06,6.663384e+06,0.000000,3.346182e+05,1.260826e+06,0.000000,142828.453994
3,0.0,622.912438,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.0,0.000000,20188.685897,186088.649532,1.002090e+05,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
4,0.0,199134.724691,209168.983266,0.000000e+00,0.000000,149534.092118,0.0,0.0,0.000000,7408.692072,6620.788829,5.918005e+05,3.341737e+04,19140.047384,8.182982e+04,0.000000e+00,0.000000,50447.136068
6,0.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.0,0.000000,246042.663720,357210.178316,5.195147e+05,4.422149e+05,96338.238501,4.263169e+05,0.000000e+00,51997.178419,36784.370050

In [78]:
total_df = pd.DataFrame(index = total_.index, columns = total_.columns)
total_df

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
total_df.loc[1, '가구인테리어/잡화_고가'] = 5
total_df.head()

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
t_df['TOTAL_CAT'].unique()

array(['식품/생활_중가', '식품/생활_저가', '식품/생활_고가', '침구/주방_저가', '교육문화/아동_저가',
       '의류/이미용_저가', '가전/레저취미/멀티샵_저가', '의류/이미용_중가'], dtype=object)

In [106]:
total_df.columns

Index(['가구인테리어/잡화_고가', '가구인테리어/잡화_저가', '가구인테리어/잡화_중가', '가전/레저취미/멀티샵_고가',
       '가전/레저취미/멀티샵_저가', '가전/레저취미/멀티샵_중가', '교육문화/아동_고가', '교육문화/아동_저가',
       '교육문화/아동_중가', '식품/생활_고가', '식품/생활_저가', '식품/생활_중가', '의류/이미용_고가',
       '의류/이미용_저가', '의류/이미용_중가', '침구/주방_고가', '침구/주방_저가', '침구/주방_중가'],
      dtype='object')

In [92]:
# 카테고리

# 1. 분기별 df
def total_mean_purchase(quater):
    
    # 반출할 df
    total_df = pd.DataFrame(index = total_.index)
    
    # 1. 1~4분기
    if quater < 5 :
        q_df_1 = purchase_n1[(purchase_n1['PURYEAR']==2014)&(purchase_n1['QUARTER']==quater)]
        q_df_2 = purchase_n2[(purchase_n2['PURYEAR']==2014)&(purchase_n2['QUARTER']==quater)]
    
    elif quater > 4 :
        quater_ = quater - 4
        q_df_1 = purchase_n1[(purchase_n1['PURYEAR']==2015)&(purchase_n1['QUARTER']==quater_)]
        q_df_2 = purchase_n2[(purchase_n2['PURYEAR']==2015)&(purchase_n2['QUARTER']==quater_)]
        
    # 2. 고객별
    for cust in total_.index:
        df_cust_1 = q_df_1[q_df_1['CUSTNO']== cust]
        df_csut_2 = q_df_2[q_df_2['CUSTNO']== cust]
        # 두 데이터 합치기
        t_df = pd.concat([df_cust_1, df_cust_2])
        
        # 카테고리 + 금액타입 컬럼 생성
        t_df['TOTAL_CAT'] = t_df['BBCL'] + '_' + t_df['PRICE_TYPE']
        
        # 3. 각 카테고리 별로 구매주기 확인
        for cate in t_df['TOTAL_CAT'].unique():
            t_df_cat = t_df[t_df['TOTAL_CAT'] == cate]
            
            # 해당 카테고리의 구매날만 보기
            cat_date = t_df_cat['PURDATE'].unique().tolist()
            cat_date.sort(reverse = True)
            
            # 구매일이 없으면 pass
            if len(cat_date) == 0:
                pass
            elif len(cat_date) == 1: # 한번만 구매했을 때
                mean_date = 'just_one'
            
            else:
                # 4. 평균 구매주기
                date_li = []
                for day_ind in range(len(cat_date)-1):
                    day_after = cat_date[day_ind]
                    day_before = cat_date[day_ind + 1]
                    # 다음구매일 - 전구매일
                    date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')
                    date_li.append(date.days)

                # 최종 입력할 평균 구매빈도일
                mean_date = sum(date_li) / len(date_li)
            
# 5. 최종 df 입력: 해당 고객의 카테고리 컬럼에 값 추가
            total_df.loc[cust, cate] = mean_date
        
    return total_df

In [117]:
# 카테고리

# 1. 분기별 df
def total_mean_purchase(quater):
    
    # 반출한 df
    total_df = pd.DataFrame(index = total_.index)
    
    # 1. 1~4분기
    if quater < 5 :
        q_df_1 = purchase_n1[(purchase_n1['PURYEAR']==2014)&(purchase_n1['QUARTER']==quater)]
        q_df_2 = purchase_n2[(purchase_n2['PURYEAR']==2014)&(purchase_n2['QUARTER']==quater)]
    
    elif quater >4 :
        quater_ = quater - 4
        q_df_1 = purchase_n1[(purchase_n1['PURYEAR']==2015)&(purchase_n1['QUARTER']==quater_)]
        q_df_2 = purchase_n2[(purchase_n2['PURYEAR']==2015)&(purchase_n2['QUARTER']==quater_)]
        
    display(q_df_1.head())
    display(q_df_2.head())
    # 2. 고객별
    for cust in [1, 2]:
        df_cust_1 = q_df_1[q_df_1['CUSTNO']== cust]
        df_csut_2 = q_df_2[q_df_2['CUSTNO']== cust]
        # 두 데이터 합치기
        t_df = pd.concat([df_cust_1, df_cust_2])
        
        # 카테고리 + 금액타입 컬럼 생성
        t_df['TOTAL_CAT'] = t_df['BBCL'] + '_' + t_df['PRICE_TYPE']
        
        print("총 카테고리 추가 df")
        display(t_df.head())
        # 3. 각 카테고리 별로 구매주기 확인
        for cate in t_df['TOTAL_CAT'].unique():
            t_df_cat = t_df[t_df['TOTAL_CAT'] == cate]
            
            # 해당 카테고리의 구매날만 보기
            cat_date = t_df_cat['PURDATE'].unique().tolist()
            cat_date.sort(reverse = True)
            
            # 구매일이 없으면 pass
            if len(cat_date) == 0:
                pass
            elif len(cat_date) == 1: # 한번만 구매했을 때
                mean_date = 'just_one'
            
            else:
                # 4. 평균 구매주기
                date_li = []
                for day_ind in range(len(cat_date)-1):
                    day_after = cat_date[day_ind]
                    day_before = cat_date[day_ind + 1]
                    # 다음구매일 - 전구매일
                    date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')
                    date_li.append(date.days)

                # 최종 입력할 평균 구매빈도일
                mean_date = sum(date_li) / len(date_li)
                print(cate)
                print('평균 구매 주기 리스트')
                print(date_li)
                print('평균 구매 주기')
                print(mean_date)
            
# 5. 최종 df 입력: 해당 고객의 카테고리 컬럼에 값 추가
            total_df.loc[cust, cate] = mean_date
        
    return total_df

R_cust_2 = total_mean_purchase(1)
R_cust_2

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
26,1310,B,32,8198575,식품/생활,식품,탄산음료,사이다,일용품,20140125,2014,1,1,21,4050,중가
49,11545,B,27,7959782,식품/생활,식품,탄산음료,사이다,일용품,20140113,2014,1,1,13,1200,중가
59,12233,B,66,9338166,식품/생활,식품,탄산음료,사이다,일용품,20140207,2014,1,2,21,1970,중가

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
14265421,3733,C,292,9196569,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140128,2014,1,1,18,7500,중가
14265428,18230,C,268,8437421,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140320,2014,1,3,21,13464,중가
14265463,14550,C,69,1028373,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140224,2014,1,2,18,13007,중가
14265473,5257,C,131,6057789,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140130,2014,1,1,13,9980,중가
14265476,1082,C,85,1117530,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140108,2014,1,1,15,8340,중가

총 카테고리 추가 df

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
8748975,1,B,4,93124,식품/생활,식품,레스토랑,뷔페레스토랑,일용품,20140227,2014,1,2,12,21800,고가,식품/생활_고가
17139873,17218,B,44,8665812,식품/생활,식품,냉장음료,냉장음료,일용품,20140306,2014,1,3,18,3360,저가,식품/생활_저가
17270189,17218,B,44,8660711,침구/주방,주방,음식저장/보관,저장용기,일용품,20140130,2014,1,1,12,7800,저가,침구/주방_저가
17270832,17218,B,44,8660938,침구/주방,주방,음식저장/보관,저장용기,일용품,20140202,2014,1,2,17,2600,저가,침구/주방_저가
17458953,17218,B,44,8658089,식품/생활,식품,간편채소,간편양념,일용품,20140113,2014,1,1,16,2830,저가,식품/생활_저가

식품/생활_저가
평균 구매 주기 리스트
[16, 35, 17]
평균 구매 주기
22.666666666666668
침구/주방_저가
평균 구매 주기 리스트
[3]
평균 구매 주기
3.0
식품/생활_중가
평균 구매 주기 리스트
[9, 2, 3, 2, 7, 1, 6, 21, 1, 7, 5, 12, 3, 4]
평균 구매 주기
5.928571428571429
의류/이미용_저가
평균 구매 주기 리스트
[26, 1, 8, 14]
평균 구매 주기
12.25
가전/레저취미/멀티샵_저가
평균 구매 주기 리스트
[9, 24, 2]
평균 구매 주기
11.666666666666666
총 카테고리 추가 df

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
17139873,17218,B,44,8665812,식품/생활,식품,냉장음료,냉장음료,일용품,20140306,2014,1,3,18,3360,저가,식품/생활_저가
17270189,17218,B,44,8660711,침구/주방,주방,음식저장/보관,저장용기,일용품,20140130,2014,1,1,12,7800,저가,침구/주방_저가
17270832,17218,B,44,8660938,침구/주방,주방,음식저장/보관,저장용기,일용품,20140202,2014,1,2,17,2600,저가,침구/주방_저가
17458953,17218,B,44,8658089,식품/생활,식품,간편채소,간편양념,일용품,20140113,2014,1,1,16,2830,저가,식품/생활_저가
22032527,17218,B,44,8660711,식품/생활,식품,조미료,가공조미료,일용품,20140130,2014,1,1,12,6700,중가,식품/생활_중가

식품/생활_저가
평균 구매 주기 리스트
[16, 35, 17]
평균 구매 주기
22.666666666666668
침구/주방_저가
평균 구매 주기 리스트
[3]
평균 구매 주기
3.0
식품/생활_중가
평균 구매 주기 리스트
[9, 2, 3, 2, 7, 1, 6, 21, 1, 7, 5, 12, 3, 4]
평균 구매 주기
5.928571428571429
의류/이미용_저가
평균 구매 주기 리스트
[26, 1, 8, 14]
평균 구매 주기
12.25
가전/레저취미/멀티샵_저가
평균 구매 주기 리스트
[9, 24, 2]
평균 구매 주기
11.666666666666666

,식품/생활_고가,식품/생활_저가,침구/주방_저가,식품/생활_중가,교육문화/아동_저가,의류/이미용_저가,가전/레저취미/멀티샵_저가,의류/이미용_중가
CUSTNO,,,,,,,,
1,just_one,22.666667,3.0,5.928571,just_one,12.25,11.666667,just_one
2,NaN,22.666667,3.0,5.928571,just_one,12.25,11.666667,just_one
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
df_cust1 = pur_q1[pur_q1['CUSTNO']==1]
df_cust_1 = pur_q1_2[pur_q1_2['CUSTNO']==1]
t_df1 = pd.concat([df_cust1, df_cust_1])
t_df1['TOTAL_CAT'] = t_df1['BBCL'] + '_' + t_df1['PRICE_TYPE']
t_df_cat1 = t_df1[t_df1['TOTAL_CAT'] == '식품/생활_저가']
cat_date1 = t_df_cat1['PURDATE'].unique().tolist()
cat_date1.sort(reverse=True)
print(cat_date1)
date_li = []
for day_ind in range(len(cat_date1)-1):
    day_after = cat_date1[day_ind]
    day_before = cat_date1[day_ind + 1]
    
    # 다음구매일 - 전구매일
    date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')
    
    date_li.append(date.days)
# 평균 구매일    
print(date_li)
sum(date_li)/len(date_li)

[]
[]

ZeroDivisionError: division by zero

## 함수 입력해보기 (1분기만)

In [93]:
R_mean_purchase_q1 = total_mean_purchase(1)
R_mean_purchase_q1

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
2,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
3,NaN,7.909091,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,1.77551,5.375,NaN,12.25,just_one,NaN,3.0,NaN
4,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,17.0,5.533333,NaN,12.25,just_one,NaN,3.0,NaN
6,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,2.342105,2.371429,NaN,11.142857,just_one,NaN,3.571429,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,20.0,NaN,4.333333,6.636364,4.15,NaN,12.25,just_one,NaN,10.75,NaN
19334,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,7.4,3.074074,NaN,10.6,just_one,NaN,3.0,NaN
19335,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,28.0,NaN,21.0,11.0,3.818182,NaN,12.25,just_one,NaN,14.5,NaN
19336,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
19337,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,15.2,5.533333,NaN,12.25,just_one,NaN,3.0,NaN

In [110]:
df_cust1 = pur_q1[pur_q1['CUSTNO']==2]
df_cust_1 = pur_q1_2[pur_q1_2['CUSTNO']==2]
t_df1 = pd.concat([df_cust1, df_cust_1])
t_df1['TOTAL_CAT'] = t_df1['BBCL'] + '_' + t_df1['PRICE_TYPE']
t_df_cat1 = t_df1[t_df1['TOTAL_CAT'] == '식품/생활_중가']
cat_date1 = t_df_cat1['PURDATE'].unique().tolist()
cat_date1.sort(reverse=True)
print(cat_date1)
date_li = []
for day_ind in range(len(cat_date1)-1):
    day_after = cat_date1[day_ind]
    day_before = cat_date1[day_ind + 1]
    
    # 다음구매일 - 전구매일
    date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')
    
    date_li.append(date.days)
# 평균 구매일    
print(date_li)
sum(date_li)/len(date_li)

[20140330, 20140325, 20140323, 20140305, 20140302, 20140301, 20140228, 20140222, 20140221, 20140215, 20140213, 20140211, 20140208, 20140207, 20140205, 20140203, 20140129, 20140128, 20140127, 20140124, 20140123, 20140118, 20140117, 20140115, 20140114, 20140111, 20140107, 20140104, 20140103]
[5, 2, 18, 3, 1, 1, 6, 1, 6, 2, 2, 3, 1, 2, 2, 5, 1, 1, 3, 1, 5, 1, 2, 1, 3, 4, 3, 1]

3.0714285714285716

In [101]:
R_mean_purchase_q1.loc[17218, '식품/생활_중가']

2.59375

#### 2분기

In [94]:
R_mean_purchase_q2 = total_mean_purchase(2)
R_mean_purchase_q2

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,21.2,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
2,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
3,NaN,3.178571,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,2.947368,9.210526,NaN,12.25,just_one,NaN,3.0,NaN
4,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,11.384615,7.045455,NaN,12.25,just_one,NaN,60.5,NaN
6,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,5.090909,4.243902,NaN,14.875,just_one,NaN,26.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,11.916667,4.243902,NaN,12.25,just_one,NaN,3.0,NaN
19334,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,40.5,14.25,22.333333,4.175,2.5,NaN,20.571429,just_one,NaN,30.2,NaN
19335,NaN,NaN,NaN,NaN,11.666667,17.0,NaN,14.25,NaN,7.8,5.964286,4.095238,NaN,15.444444,just_one,NaN,17.5,NaN
19336,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
19337,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,28.0,10.294118,NaN,12.25,just_one,NaN,3.0,NaN

#### 3분기

In [95]:
R_mean_purchase_q3 = total_mean_purchase(3)
R_mean_purchase_q3

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,35.333333,15.0,NaN,12.25,just_one,NaN,3.0,NaN
2,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
3,NaN,3.423077,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,47.0,3.880597,9.392857,NaN,12.25,just_one,NaN,3.0,NaN
4,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,37.4,12.125,NaN,30.2,just_one,NaN,3.0,NaN
6,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,8.290323,8.827586,NaN,25.75,just_one,NaN,21.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,24.5,6.766667,NaN,12.25,just_one,NaN,3.0,NaN
19334,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,47.0,just_one,13.0,5.909091,3.657534,NaN,12.25,just_one,NaN,79.333333,NaN
19335,NaN,NaN,NaN,NaN,11.666667,just_one,NaN,20.4,7.25,9.875,8.354839,5.32,NaN,33.4,just_one,NaN,26.222222,NaN
19336,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
19337,NaN,15.0,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,10.36,8.258065,NaN,12.25,just_one,NaN,3.0,NaN

#### 4분기

In [96]:
R_mean_purchase_q4 = total_mean_purchase(4)
R_mean_purchase_q4

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,56.0,42.375,18.210526,NaN,64.2,just_one,NaN,161.0,NaN
2,NaN,NaN,NaN,NaN,63.0,NaN,NaN,just_one,NaN,NaN,70.5,19.266667,NaN,12.25,just_one,NaN,3.0,NaN
3,NaN,4.944444,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,39.0,5.949153,16.0,NaN,12.25,just_one,NaN,3.0,NaN
4,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,35.2,17.095238,NaN,12.25,just_one,NaN,3.0,NaN
6,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,35.0,11.322581,8.136364,NaN,43.714286,just_one,NaN,38.285714,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,15.954545,9.421053,NaN,12.25,just_one,NaN,3.0,NaN
19334,NaN,NaN,NaN,NaN,11.666667,NaN,just_one,49.833333,NaN,just_one,7.333333,5.279412,NaN,57.2,just_one,NaN,159.5,NaN
19335,NaN,NaN,NaN,NaN,77.0,NaN,NaN,43.857143,6.7,just_one,13.8,8.5,NaN,45.714286,just_one,NaN,145.5,just_one
19336,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
19337,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,11.7,12.25,NaN,12.25,just_one,NaN,3.0,NaN

#### 5분기

In [97]:
R_mean_purchase_q5 = total_mean_purchase(5)
R_mean_purchase_q5

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,60.285714,26.1875,NaN,12.25,just_one,NaN,3.0,NaN
2,NaN,NaN,NaN,NaN,76.0,NaN,NaN,just_one,NaN,NaN,22.666667,27.8,NaN,12.25,just_one,NaN,3.0,NaN
3,NaN,10.0,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,15.785714,27.125,NaN,12.25,just_one,NaN,3.0,NaN
4,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,69.0,23.105263,NaN,82.8,just_one,NaN,3.0,NaN
6,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,36.0,11.05,8.803922,NaN,78.6,just_one,NaN,173.5,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,26.9375,15.892857,NaN,12.25,just_one,NaN,3.0,NaN
19334,NaN,NaN,NaN,NaN,11.666667,NaN,just_one,192.5,just_one,74.0,14.225806,8.109091,NaN,70.4,just_one,NaN,138.333333,NaN
19335,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,42.777778,30.0,just_one,16.333333,9.531915,NaN,41.8,just_one,NaN,135.0,NaN
19336,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
19337,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,346.0,NaN,NaN,19.043478,16.62963,NaN,12.25,just_one,NaN,3.0,NaN

#### 6분기

In [98]:
R_mean_purchase_q6 = total_mean_purchase(6)
R_mean_purchase_q6

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,93.4,31.411765,NaN,12.25,just_one,NaN,3.0,NaN
2,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,121.75,32.933333,NaN,12.25,just_one,NaN,3.0,NaN
3,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,11.565217,26.6,NaN,12.25,just_one,NaN,3.0,NaN
4,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,470.0,NaN,NaN,44.416667,27.0,NaN,12.25,just_one,NaN,3.0,NaN
6,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,19.740741,11.977778,NaN,59.5,just_one,NaN,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,82.333333,26.25,NaN,12.25,just_one,NaN,3.0,NaN
19334,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,209.0,just_one,NaN,20.230769,15.228571,NaN,79.0,just_one,NaN,215.0,NaN
19335,NaN,NaN,NaN,NaN,11.666667,NaN,73.0,97.2,18.0,32.0,20.461538,14.184211,NaN,71.857143,just_one,NaN,171.666667,NaN
19336,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
19337,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,12.113636,17.8,NaN,12.25,just_one,NaN,3.0,NaN

#### 7분기

In [99]:
R_mean_purchase_q7 = total_mean_purchase(7)
R_mean_purchase_q7

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
2,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
3,NaN,6.0,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,34.0,15.04878,28.090909,NaN,12.25,just_one,NaN,3.0,NaN
4,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,82.285714,27.304348,NaN,120.6,just_one,NaN,3.0,NaN
6,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,519.0,NaN,18.0,18.088235,10.327869,NaN,66.444444,just_one,NaN,194.666667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,40.866667,NaN,12.25,just_one,NaN,3.0,NaN
19334,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,73.125,35.875,NaN,12.25,just_one,NaN,3.0,NaN
19335,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,192.0,11.375,35.5,29.666667,15.047619,NaN,121.0,just_one,NaN,260.5,NaN
19336,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
19337,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,11.142857,16.179487,NaN,12.25,just_one,NaN,3.0,NaN

#### 8분기

In [100]:
R_mean_purchase_q8 = total_mean_purchase(8)
R_mean_purchase_q8

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,135.0,42.625,NaN,12.25,just_one,NaN,3.0,NaN
2,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
3,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,27.461538,45.066667,NaN,12.25,just_one,NaN,3.0,NaN
4,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,78.777778,42.125,NaN,136.0,just_one,NaN,3.0,NaN
6,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,30.0,25.607143,12.701754,NaN,85.5,just_one,NaN,324.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,65.090909,34.428571,NaN,12.25,just_one,NaN,3.0,NaN
19334,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,99.0,44.5625,NaN,12.25,just_one,NaN,3.0,NaN
19335,NaN,just_one,NaN,NaN,11.666667,NaN,NaN,330.0,10.428571,29.0,39.833333,15.083333,NaN,93.714286,just_one,NaN,3.0,NaN
19336,NaN,NaN,NaN,NaN,11.666667,NaN,NaN,just_one,NaN,NaN,22.666667,5.928571,NaN,12.25,just_one,NaN,3.0,NaN
19337,NaN,NaN,just_one,NaN,11.666667,NaN,NaN,just_one,NaN,just_one,14.833333,21.787879,NaN,12.25,just_one,NaN,3.0,NaN

In [ ]:
#### 총분기

In [ ]:
from datetime import datetime
# 분기
pur_q1 = purchase_n1[(purchase_n1['PURYEAR']==2014)&(purchase_n1['QUARTER']==1)]
pur_q1_2 = purchase_n2[(purchase_n2['PURYEAR']==2014)&(purchase_n2['QUARTER']==1)]

# 고객별
df_cust = pur_q1[pur_q1['CUSTNO']==17218]
df_cust_2 = pur_q1_2[pur_q1_2['CUSTNO']==17218]

# 두 데이터 합치기
t_df = pd.concat([df_cust, df_cust_2])

# 카테고리 + 금액타입 컬럼 생성
t_df['TOTAL_CAT'] = t_df['BBCL'] + '_' + t_df['PRICE_TYPE']

t_df['TOTAL_CAT'].unique()
# 총카테고리 중 하나
t_df_cat = t_df[t_df['TOTAL_CAT'] == '식품/생활_중가']

# 해당 날자만 보기
cat_date = t_df_cat['PURDATE'].unique().tolist()
cat_date.sort(reverse=True)

# 평균 구매주기
date_li = []
for day_ind in range(len(cat_date)-1):
    day_after = cat_date[day_ind]
    day_before = cat_date[day_ind + 1]
    
    # 다음구매일 - 전구매일
    date = datetime.strptime(str(day_after),'%Y%m%d') - datetime.strptime(str(day_before),'%Y%m%d')
    
    date_li.append(date.days)
# 평균 구매주기    
print(date_li)