### 유지고객 데이터 불러오기

In [10]:
import pandas as pd

cust_유지 = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지.csv', index_col = 0)
cust_유지

,CUSTNO,ASSO,RNO,BBCL,BCL,MCL,SCL,TYPE,PURYEAR,HALF_YEAR,QUARTER,PRICE_TYPE,PURAMT,Q_year
0,17485,B,8919510,식품/생활,식품,샐러드채소,양상추,일용품,2015,4,3,저가,2000,2015_3
1,17485,B,8919510,식품/생활,식품,김치채소,무우,일용품,2015,4,3,저가,1250,2015_3
2,17485,B,8919510,식품/생활,식품,일반한우,한우양지,일용품,2015,4,3,고가,23790,2015_3
3,17485,B,8919510,식품/생활,식품,포도,캠벨포도,일용품,2015,4,3,중가,25600,2015_3
4,17485,B,8919510,식품/생활,식품,메론,머스크메론,일용품,2015,4,3,중가,12800,2015_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593024,16515,B,7784996,식품/생활,식품,족발,즉석족발,일용품,2014,1,2,중가,4979,2014_2
28593025,5786,B,7784894,식품/생활,식품,스낵,일반스낵,일용품,2014,1,2,중가,490,2014_2
28593026,14026,B,7784900,식품/생활,식품,족발,냉장족발,일용품,2014,1,2,중가,4000,2014_2
28593027,16612,C,9500419,식품/생활,식품,기타축산,돼지양념육,일용품,2014,2,3,중가,7900,2014_3
28593028,7565,C,10737145,식품/생활,식품,우유,일반우유,일용품,2014,2,4,저가,5200,2014_4

#### 유지고객 인덱스 추출

In [11]:
cust_idx = cust_유지['CUSTNO'].unique()
cust_idx

array([17485, 12960, 15693, ..., 17252,  1074, 17017], dtype=int64)

### 고객 구매데이터 원본 불러오기

In [2]:
purchase = pd.read_csv('C:/cakd7/2차 프로젝트/raw_data/구매상품TR.txt', sep = ',', encoding = 'cp949')
purchase

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

#### 유지고객 관련 원본 데이터 불러오기

In [4]:
cust_유지_purchase = purchase[purchase['고객번호'].isin(cust_idx)]
cust_유지_purchase

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

#### 구매일자 데이터 merge

In [9]:
# merge를 위한 컬럼만 추출
for_merge = cust_유지_purchase[['제휴사','고객번호','구매일자','영수증번호']]

# merge on 요소가 되기위해 컬럼이름 변경
for_merge.rename(columns = {'제휴사': 'ASSO',
                            '고객번호' : 'CUSTNO',
                            '구매일자': 'PURDATE',
                            '영수증번호': 'RNO'}, inplace = True)

C:\Users\NEW\AppData\Local\Temp\ipykernel_17064\2172041884.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_merge.rename(columns = {'제휴사': 'ASSO',

In [12]:
# merge
cust_유지_merge = pd.merge(cust_유지_purchase, cust_유지, how = 'outer')
cust_유지_merge

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

### merge_purchase 불러오기

In [1]:
import pandas as pd

merge_pro = pd.read_csv('C:/cakd7/2차 프로젝트/merge_purchase.csv', index_col = 0)
merge_pro

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,구매연도,구매월,구매일,구매 분기,구매 계절,CATEGORY,중분류명,소분류명,TYPE
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,2014,2,22,1,겨울,식품,탄산음료,사이다,일용품
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,2014,2,22,1,겨울,식품,탄산음료,사이다,일용품
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,2015,9,21,3,가을,식품,탄산음료,사이다,일용품
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,2014,8,13,3,여름,식품,탄산음료,사이다,일용품
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,2014,8,31,3,여름,식품,탄산음료,사이다,일용품
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,7269975,14,1415,B141503,134,16,20141130,15,8900,2014,11,30,4,가을,식품,전통과자,온라인팥빙수재료,일용품
28593026,B,7946814,68,6802,B680209,18484,26,20141227,14,1000,2014,12,27,4,겨울,잡화,여성양말,여성발가락,일용품
28593027,B,7777110,7,702,B070203,5043,21,20151012,22,4510,2015,10,12,4,가을,식품,즉석구이안주,즉석쥐포,일용품
28593028,B,7579178,7,703,B070305,4073,18,20140125,20,8900,2014,1,25,1,겨울,식품,마른안주,온라인 안주,일용품
28593029,B,8123279,36,3607,B360704,11509,29,20150821,13,2800,2015,8,21,3,여름,레저취미,시니어건강용품,침실용품,일용품

CUSTNO	ASSO	RNO	BBCL	BCL	MCL	SCL	TYPE	PURYEAR	HALF_YEAR	QUARTER	PRICE_TYPE	PURAMT

In [2]:
merge_pro.columns

Index(['제휴사', '영수증번호', '대분류코드', '중분류코드', '소분류코드', '고객번호', '점포코드', '구매일자',
       '구매시간', '구매금액', '구매연도', '구매월', '구매일', '구매 분기', '구매 계절', 'CATEGORY',
       '중분류명', '소분류명', 'TYPE'],
      dtype='object')

In [15]:
pro_need = merge_pro[['고객번호','제휴사','점포코드','영수증번호','CATEGORY','중분류명','소분류명','TYPE','구매일자',
                       '구매연도','구매 분기','구매월','구매시간','구매금액']]
pro_need = pro_need.rename(columns = {'고객번호': 'CUSTNO',
                                       '제휴사':'ASSO',
                                       '점포코드':'STCODE',
                                       '영수증번호':'RNO',
                                       'CATEGORY':'BCL',
                                       '중분류명':'MCL',
                                       '소분류명':'SCL',
                                       '구매일자':'PURDATE',
                                       '구매연도':'PURYEAR',
                                       '구매 분기':'QUARTER',
                                       '구매월': 'PURMONTH',
                                       '구매시간':'PURHOUR',
                                       '구매금액': 'PURAMT'})

pro_need.head()

,CUSTNO,ASSO,STCODE,RNO,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT
0,17218,B,44,8664000,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420
1,11303,B,44,8664007,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400
2,13210,B,48,8919520,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250
3,13823,B,12,6956422,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250
4,18970,B,12,6957156,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900

### BBCL 컬럼 생성

In [5]:
pro_need['BCL'].unique()

array(['식품', '생활', '침구', '교육문화', '이미용', '주방', '잡화', '의류', '레저취미', '아동',
       '가전', '가구인테리어', '멀티샵'], dtype=object)

In [6]:
pro_need.columns

Index(['CUSTNO', 'ASSO', 'STCODE', 'RNO', 'BCL', 'MCL', 'SCL', 'TYPE',
       'PURDATE', 'PURYEAR', 'QUARTER', 'PURMONTH', 'PURHOUR'],
      dtype='object')

생활 - 식품/ 
가구인테리어 - 잡화/ 
교육문화 - 아동/ 
가전 - 레저취미 - 멀티샵/ 
의류 - 이미용 / 
침구 - 주방  
(총 6개의 대분류)

In [16]:
def bbcl_cate(x):
    if x in ('식품','생활'): y = '식품/생활'
    elif x in ('가구인테리어','잡화'): y = '가구인테리어/잡화'
    elif x in ('교육문화','아동'): y = '교육문화/아동'
    elif x in ('가전','레저취미','멀티샵'): y = '가전/레저취미/멀티샵'
    elif x in ('의류','이미용'): y = '의류/이미용'
    elif x in ('침구','주방'): y = '침구/주방'
    return y
        
pro_need['BBCL'] = pro_need['BCL'].apply(lambda x: bbcl_cate(x))
pro_need = pro_need[['CUSTNO', 'ASSO', 'STCODE', 'RNO', 'BBCL', 'BCL', 'MCL', 'SCL', 'TYPE',
       'PURDATE', 'PURYEAR', 'QUARTER', 'PURMONTH', 'PURHOUR','PURAMT']]

pro_need.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900

### 유지고객만 추출

In [14]:
cust_유지.head()

,CUSTNO,ASSO,RNO,BBCL,BCL,MCL,SCL,TYPE,PURYEAR,HALF_YEAR,QUARTER,PRICE_TYPE,PURAMT,Q_year
0,17485,B,8919510,식품/생활,식품,샐러드채소,양상추,일용품,2015,4,3,저가,2000,2015_3
1,17485,B,8919510,식품/생활,식품,김치채소,무우,일용품,2015,4,3,저가,1250,2015_3
2,17485,B,8919510,식품/생활,식품,일반한우,한우양지,일용품,2015,4,3,고가,23790,2015_3
3,17485,B,8919510,식품/생활,식품,포도,캠벨포도,일용품,2015,4,3,중가,25600,2015_3
4,17485,B,8919510,식품/생활,식품,메론,머스크메론,일용품,2015,4,3,중가,12800,2015_3

In [17]:
custno_유지_연도포함 = pro_need[pro_need['CUSTNO'].isin(cust_idx)]
custno_유지_연도포함

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800

In [18]:
custno_유지_연도포함.to_csv('C:/cakd7/2차 프로젝트/purchase_유지_연도포함.csv')

# R: 최근 구매일