### 유지고객 데이터 불러오기

In [68]:
import pandas as pd

cust_유지 = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지.csv', index_col = 0)
cust_유지

,CUSTNO,ASSO,RNO,BBCL,BCL,MCL,SCL,TYPE,PURYEAR,HALF_YEAR,QUARTER,PRICE_TYPE,PURAMT,Q_year
0,17485,B,8919510,식품/생활,식품,샐러드채소,양상추,일용품,2015,4,3,저가,2000,2015_3
1,17485,B,8919510,식품/생활,식품,김치채소,무우,일용품,2015,4,3,저가,1250,2015_3
2,17485,B,8919510,식품/생활,식품,일반한우,한우양지,일용품,2015,4,3,고가,23790,2015_3
3,17485,B,8919510,식품/생활,식품,포도,캠벨포도,일용품,2015,4,3,중가,25600,2015_3
4,17485,B,8919510,식품/생활,식품,메론,머스크메론,일용품,2015,4,3,중가,12800,2015_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593024,16515,B,7784996,식품/생활,식품,족발,즉석족발,일용품,2014,1,2,중가,4979,2014_2
28593025,5786,B,7784894,식품/생활,식품,스낵,일반스낵,일용품,2014,1,2,중가,490,2014_2
28593026,14026,B,7784900,식품/생활,식품,족발,냉장족발,일용품,2014,1,2,중가,4000,2014_2
28593027,16612,C,9500419,식품/생활,식품,기타축산,돼지양념육,일용품,2014,2,3,중가,7900,2014_3
28593028,7565,C,10737145,식품/생활,식품,우유,일반우유,일용품,2014,2,4,저가,5200,2014_4

In [69]:
len(cust_유지['RNO'].unique())

10920826

#### 유지고객 인덱스 추출

In [11]:
cust_idx = cust_유지['CUSTNO'].unique()
cust_idx

array([17485, 12960, 15693, ..., 17252,  1074, 17017], dtype=int64)

### (오류)고객 구매데이터 원본 불러오기

In [2]:
purchase = pd.read_csv('C:/cakd7/2차 프로젝트/raw_data/구매상품TR.txt', sep = ',', encoding = 'cp949')
purchase

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

#### 유지고객 관련 원본 데이터 불러오기

In [4]:
cust_유지_purchase = purchase[purchase['고객번호'].isin(cust_idx)]
cust_유지_purchase

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

#### 구매일자 데이터 merge

In [9]:
# merge를 위한 컬럼만 추출
for_merge = cust_유지_purchase[['제휴사','고객번호','구매일자','영수증번호']]

# merge on 요소가 되기위해 컬럼이름 변경
for_merge.rename(columns = {'제휴사': 'ASSO',
                            '고객번호' : 'CUSTNO',
                            '구매일자': 'PURDATE',
                            '영수증번호': 'RNO'}, inplace = True)

C:\Users\NEW\AppData\Local\Temp\ipykernel_17064\2172041884.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_merge.rename(columns = {'제휴사': 'ASSO',

In [12]:
# merge
cust_유지_merge = pd.merge(cust_유지_purchase, cust_유지, how = 'outer')
cust_유지_merge

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

### merge_purchase 불러오기

In [1]:
import pandas as pd

merge_pro = pd.read_csv('C:/cakd7/2차 프로젝트/merge_purchase.csv', index_col = 0)
merge_pro

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,구매연도,구매월,구매일,구매 분기,구매 계절,CATEGORY,중분류명,소분류명,TYPE
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,2014,2,22,1,겨울,식품,탄산음료,사이다,일용품
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,2014,2,22,1,겨울,식품,탄산음료,사이다,일용품
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,2015,9,21,3,가을,식품,탄산음료,사이다,일용품
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,2014,8,13,3,여름,식품,탄산음료,사이다,일용품
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,2014,8,31,3,여름,식품,탄산음료,사이다,일용품
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,7269975,14,1415,B141503,134,16,20141130,15,8900,2014,11,30,4,가을,식품,전통과자,온라인팥빙수재료,일용품
28593026,B,7946814,68,6802,B680209,18484,26,20141227,14,1000,2014,12,27,4,겨울,잡화,여성양말,여성발가락,일용품
28593027,B,7777110,7,702,B070203,5043,21,20151012,22,4510,2015,10,12,4,가을,식품,즉석구이안주,즉석쥐포,일용품
28593028,B,7579178,7,703,B070305,4073,18,20140125,20,8900,2014,1,25,1,겨울,식품,마른안주,온라인 안주,일용품
28593029,B,8123279,36,3607,B360704,11509,29,20150821,13,2800,2015,8,21,3,여름,레저취미,시니어건강용품,침실용품,일용품

CUSTNO	ASSO	RNO	BBCL	BCL	MCL	SCL	TYPE	PURYEAR	HALF_YEAR	QUARTER	PRICE_TYPE	PURAMT

In [2]:
merge_pro.columns

Index(['제휴사', '영수증번호', '대분류코드', '중분류코드', '소분류코드', '고객번호', '점포코드', '구매일자',
       '구매시간', '구매금액', '구매연도', '구매월', '구매일', '구매 분기', '구매 계절', 'CATEGORY',
       '중분류명', '소분류명', 'TYPE'],
      dtype='object')

In [15]:
pro_need = merge_pro[['고객번호','제휴사','점포코드','영수증번호','CATEGORY','중분류명','소분류명','TYPE','구매일자',
                       '구매연도','구매 분기','구매월','구매시간','구매금액']]
pro_need = pro_need.rename(columns = {'고객번호': 'CUSTNO',
                                       '제휴사':'ASSO',
                                       '점포코드':'STCODE',
                                       '영수증번호':'RNO',
                                       'CATEGORY':'BCL',
                                       '중분류명':'MCL',
                                       '소분류명':'SCL',
                                       '구매일자':'PURDATE',
                                       '구매연도':'PURYEAR',
                                       '구매 분기':'QUARTER',
                                       '구매월': 'PURMONTH',
                                       '구매시간':'PURHOUR',
                                       '구매금액': 'PURAMT'})

pro_need.head()

,CUSTNO,ASSO,STCODE,RNO,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT
0,17218,B,44,8664000,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420
1,11303,B,44,8664007,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400
2,13210,B,48,8919520,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250
3,13823,B,12,6956422,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250
4,18970,B,12,6957156,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900

#### BBCL 컬럼 생성

In [5]:
pro_need['BCL'].unique()

array(['식품', '생활', '침구', '교육문화', '이미용', '주방', '잡화', '의류', '레저취미', '아동',
       '가전', '가구인테리어', '멀티샵'], dtype=object)

In [6]:
pro_need.columns

Index(['CUSTNO', 'ASSO', 'STCODE', 'RNO', 'BCL', 'MCL', 'SCL', 'TYPE',
       'PURDATE', 'PURYEAR', 'QUARTER', 'PURMONTH', 'PURHOUR'],
      dtype='object')

생활 - 식품/ 
가구인테리어 - 잡화/ 
교육문화 - 아동/ 
가전 - 레저취미 - 멀티샵/ 
의류 - 이미용 / 
침구 - 주방  
(총 6개의 대분류)

In [16]:
def bbcl_cate(x):
    if x in ('식품','생활'): y = '식품/생활'
    elif x in ('가구인테리어','잡화'): y = '가구인테리어/잡화'
    elif x in ('교육문화','아동'): y = '교육문화/아동'
    elif x in ('가전','레저취미','멀티샵'): y = '가전/레저취미/멀티샵'
    elif x in ('의류','이미용'): y = '의류/이미용'
    elif x in ('침구','주방'): y = '침구/주방'
    return y
        
pro_need['BBCL'] = pro_need['BCL'].apply(lambda x: bbcl_cate(x))
pro_need = pro_need[['CUSTNO', 'ASSO', 'STCODE', 'RNO', 'BBCL', 'BCL', 'MCL', 'SCL', 'TYPE',
       'PURDATE', 'PURYEAR', 'QUARTER', 'PURMONTH', 'PURHOUR','PURAMT']]

pro_need.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900

#### 유지고객만 추출

In [14]:
cust_유지.head()

,CUSTNO,ASSO,RNO,BBCL,BCL,MCL,SCL,TYPE,PURYEAR,HALF_YEAR,QUARTER,PRICE_TYPE,PURAMT,Q_year
0,17485,B,8919510,식품/생활,식품,샐러드채소,양상추,일용품,2015,4,3,저가,2000,2015_3
1,17485,B,8919510,식품/생활,식품,김치채소,무우,일용품,2015,4,3,저가,1250,2015_3
2,17485,B,8919510,식품/생활,식품,일반한우,한우양지,일용품,2015,4,3,고가,23790,2015_3
3,17485,B,8919510,식품/생활,식품,포도,캠벨포도,일용품,2015,4,3,중가,25600,2015_3
4,17485,B,8919510,식품/생활,식품,메론,머스크메론,일용품,2015,4,3,중가,12800,2015_3

In [17]:
custno_유지_연도포함 = pro_need[pro_need['CUSTNO'].isin(cust_idx)]
custno_유지_연도포함

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800

In [18]:
custno_유지_연도포함.to_csv('C:/cakd7/2차 프로젝트/purchase_유지_연도포함.csv')

## 데이터 불러오기

In [1]:
import pandas as pd

purchase = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지_연도포함.csv', index_col = 0)
purchase

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800

### 금액 타입 merge

In [2]:
price_type = pd.read_csv('C:/cakd7/2차 프로젝트/분류로직_수정.csv', encoding = 'cp949')
price_type = price_type[['제휴사','대분류명','중분류명','금액 타입']]
price_type = price_type.rename(columns = {'제휴사': 'ASSO',
                                         '대분류명': 'BCL',
                                         '중분류명': 'MCL',
                                         '금액 타입': 'PRICE_TYPE'})
price_type

    ASSO  BCL      MCL PRICE_TYPE
0      A   식품     가공식품         중가
1      A   식품     건강식품         고가
2      A  멀티샵       기타         중가
3      A   식품      농산물         중가
4      A   식품      수산품         고가
..   ...  ...      ...        ...
801    D  이미용       여성         중가
802    D  이미용   네일메이크업         저가
803    D  이미용    립메이크업         저가
804    D  이미용  베이스메이크업         저가
805    D  이미용   아이메이크업         저가

[806 rows x 4 columns]

In [3]:
price_type.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
801    False
802    False
803    False
804    False
805    False
Length: 806, dtype: bool

#### 금액타입 컬럼 생성

In [5]:
import numpy as np

purchase['PRICE_TYPE'] = np.nan
purchase.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,NaN
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,NaN
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,NaN
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,NaN
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,NaN

In [6]:
purchase.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,NaN
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,NaN
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,NaN
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,NaN
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,NaN

In [7]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28255868 entries, 0 to 28593029
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   CUSTNO      int64
 1   ASSO        object
 2   STCODE      int64
 3   RNO         int64
 4   BBCL        object
 5   BCL         object
 6   MCL         object
 7   SCL         object
 8   TYPE        object
 9   PURDATE     int64
 10  PURYEAR     int64
 11  QUARTER     int64
 12  PURMONTH    int64
 13  PURHOUR     int64
 14  PURAMT      int64
 15  PRICE_TYPE  float64
dtypes: float64(1), int64(9), object(6)
memory usage: 3.6+ GB

In [8]:
purchase['PRICE_TYPE'] = purchase['PRICE_TYPE'].astype(str)

In [9]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28255868 entries, 0 to 28593029
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   CUSTNO      int64
 1   ASSO        object
 2   STCODE      int64
 3   RNO         int64
 4   BBCL        object
 5   BCL         object
 6   MCL         object
 7   SCL         object
 8   TYPE        object
 9   PURDATE     int64
 10  PURYEAR     int64
 11  QUARTER     int64
 12  PURMONTH    int64
 13  PURHOUR     int64
 14  PURAMT      int64
 15  PRICE_TYPE  object
dtypes: int64(9), object(7)
memory usage: 3.6+ GB

In [ ]:
import numpy as np

for asso, bcl, mcl, types in np.array(price_type):
    try:
        purchase.loc[(purchase['ASSO'] == asso)&(purchase['BCL'] == bcl)&(purchase['MCL'] == mcl),'PRICE_TYPE'] = types
    except:
        pass
        
purchase

# R: 최근 구매일

### 연습

In [5]:
recency = pd.pivot_table(data = purchase,
                         index = 'CUSTNO',
                         columns = ['PURYEAR','QUARTER'],
                         values = 'PURDATE',
                         aggfunc = 'max')
recency

PURYEAR      2014                                    2015                      \
QUARTER         1         2         3         4         1         2         3
CUSTNO
1        20140330  20140630  20140926  20141231  20150329  20150627  20150922
2        20140331  20140630  20140927  20141231  20150331  20150624  20150929
3        20140331  20140630  20140930  20141230  20150331  20150629  20150922
4        20140328  20140629  20140930  20141231  20150330  20150630  20150930
6        20140331  20140630  20140929  20141230  20150331  20150630  20150930
...           ...       ...       ...       ...       ...       ...       ...
19333    20140331  20140630  20140928  20141230  20150331  20150630  20150928
19334    20140329  20140630  20140930  20141231  20150330  20150623  20150830
19335    20140331  20140629  20140929  20141229  20150330  20150629  20150930
19336    20140330  20140630  20140930  20141229  20150331  20150625  20150925
19337    20140331  20140630  20140930  20141231  20150331  20150630  20150929

PURYEAR
QUARTER         4
CUSTNO
1        20151230
2        20151230
3        20151228
4        20151231
6        20151231
...           ...
19333    20151230
19334    20151221
19335    20151231
19336    20151228
19337    20151230

[18866 rows x 8 columns]

In [12]:
pd.set_option('display.max_rows', 100)

pd.DataFrame(recency.iloc[:,0].value_counts())

          2014
             1
20140331  8039
20140330  4415
20140329  2316
20140328  1415
20140327   687
20140326   388
20140325   296
20140324   201
20140323   187
20140322   179
20140321   118
20140320    64
20140319    55
20140318    45
20140316    42
20140315    40
20140314    30
20140317    25
20140302    23
20140312    22
20140313    21
20140309    16
20140311    16
20140308    15
20140307    11
20140310     9
20140301     9
20140303     9
20140221     8
20140213     8
20140304     7
20140226     7
20140219     6
20140214     6
20140228     6
20140220     6
20140305     6
20140105     6
20140224     6
20140216     5
20140210     5
20140126     4
20140215     4
20140225     4
20140103     4
20140306     4
20140227     4
20140223     3
20140122     3
20140128     3
20140112     3
20140121     3
20140217     3
20140201     3
20140205     3
20140129     3
20140202     2
20140209     2
20140131     2
20140211     2
20140113     2
20140124     2
20140123     2
20140119     2
20140111     2
20140104     2
20140222     2
20140125     2
20140118     2
20140115     1
20140110     1
20140130     1
20140108     1
20140107     1
20140206     1
20140212     1
20140127     1
20140106     1
20140120     1
20140204     1
20140203     1
20140218     1
20140101     1

In [13]:
recency_reverse = pd.pivot_table(data = purchase,
                                 index = 'CUSTNO',
                                 columns = ['PURYEAR','QUARTER'],
                                 values = 'PURDATE',
                                 aggfunc = 'min')
recency_reverse

PURYEAR      2014                                    2015                      \
QUARTER         1         2         3         4         1         2         3
CUSTNO
1        20140108  20140401  20140703  20141001  20150102  20150401  20150702
2        20140103  20140405  20140701  20141002  20150106  20150401  20150702
3        20140103  20140401  20140701  20141001  20150106  20150402  20150703
4        20140103  20140401  20140701  20141007  20150102  20150402  20150703
6        20140101  20140401  20140702  20141001  20150101  20150401  20150701
...           ...       ...       ...       ...       ...       ...       ...
19333    20140301  20140402  20140701  20141005  20150102  20150402  20150703
19334    20140304  20140401  20140701  20141001  20150101  20150402  20150701
19335    20140308  20140401  20140703  20141003  20150101  20150404  20150701
19336    20140316  20140402  20140710  20141003  20150104  20150404  20150701
19337    20140327  20140619  20140702  20141003  20150102  20150401  20150701

PURYEAR
QUARTER         4
CUSTNO
1        20151002
2        20151002
3        20151001
4        20151002
6        20151007
...           ...
19333    20151011
19334    20151002
19335    20151005
19336    20151001
19337    20151001

[18866 rows x 8 columns]

In [14]:
pd.set_option('display.max_rows', 100)

pd.DataFrame(recency_reverse.iloc[:,0].value_counts())

          2014
             1
20140102  5460
20140101  4972
20140103  3216
20140104  1615
20140105   907
20140106   540
20140107   394
20140108   266
20140110   191
20140109   179
20140111   171
20140112   101
20140113    82
20140114    62
20140118    53
20140117    51
20140115    49
20140116    42
20140119    34
20140121    26
20140126    23
20140122    22
20140120    20
20140128    19
20140123    19
20140125    18
20140129    16
20140124    15
20140202    13
20140130    12
20140302    10
20140204    10
20140203    10
20140212    10
20140308     9
20140208     9
20140219     9
20140218     9
20140217     8
20140201     8
20140221     8
20140127     8
20140207     8
20140206     8
20140205     7
20140301     7
20140220     6
20140224     6
20140222     6
20140318     6
20140211     6
20140321     5
20140223     5
20140228     5
20140315     5
20140304     5
20140312     5
20140209     4
20140225     4
20140307     4
20140323     4
20140210     4
20140319     4
20140213     4
20140214     4
20140215     4
20140226     4
20140303     3
20140330     3
20140320     3
20140313     3
20140309     3
20140316     3
20140131     3
20140327     2
20140311     2
20140325     2
20140216     2
20140227     2
20140310     2
20140306     1
20140324     1
20140305     1
20140314     1
20140329     1
20140317     1
20140322     1

In [17]:
recency_all = pd.pivot_table(data = purchase,
                             index = 'CUSTNO',
                             columns = ['PURYEAR','QUARTER','BBCL'],
                             values = ['PURDATE','PURAMT'],
                             aggfunc = {'PURDATE':['min', 'max', 'count'],
                                        'PURAMT': 'sum'})
recency_all

           PURAMT                                                             \
              sum
PURYEAR      2014                                    2015
QUARTER         1         2         3         4         1        2         3
CUSTNO
1         9141590  10783765  10781550  23334762   9302985  8595380   7806580
2        14123470  10199760  14841180   7080920  18481480  9310130  13842600
3          302782    548433    648188    394366    279310   312970    421017
4         1309643   3732463   2434410   1823100   1737292  1919645   2127112
6         2166006   3115284   3163273   2950816   3619234  2769821   3518094
...           ...       ...       ...       ...       ...      ...       ...
19333      613130    913988    578210    455450    850690   553590    252010
19334      834049   2705917   2575628   2819868   1699930   767309    484920
19335      937734   2783122   2320105   2042511   2199423  2852695   1553645
19336      449600   3321870   3160370   5886390   2896520  3625250   6322150
19337       16520     71970    603219    765510    534370   660260   1216470

                  PURDATE                                               \
                    count                                          max
PURYEAR              2014                2015                     2014
QUARTER         4       1    2    3    4    1    2    3    4         1
CUSTNO
1         5295938     121  117  142  214  172  140   73   78  20140330
2        12001220     184  155  139  132  145  116  126  119  20140331
3          258101     139  209  246  145   87  133  139   93  20140331
4         1610145      93  177   85   87  122  141  118  107  20140328
6         3203889     192  192  178  187  237  160  228  219  20140331
...           ...     ...  ...  ...  ...  ...  ...  ...  ...       ...
19333      520430     111  170   90  107  132   81   43   90  20140331
19334      465910     132  497  495  355  235  170   32   48  20140329
19335     2011244      95  295  274  256  279  235  209  230  20140331
19336     4948690       8   78   80   76   63   33   51   51  20140330
19337     1107990       7   21  193  169  141  219  304  267  20140331

                                                                               \

PURYEAR                                    2015
QUARTER         2         3         4         1         2         3         4
CUSTNO
1        20140630  20140926  20141231  20150329  20150627  20150922  20151230
2        20140630  20140927  20141231  20150331  20150624  20150929  20151230
3        20140630  20140930  20141230  20150331  20150629  20150922  20151228
4        20140629  20140930  20141231  20150330  20150630  20150930  20151231
6        20140630  20140929  20141230  20150331  20150630  20150930  20151231
...           ...       ...       ...       ...       ...       ...       ...
19333    20140630  20140928  20141230  20150331  20150630  20150928  20151230
19334    20140630  20140930  20141231  20150330  20150623  20150830  20151221
19335    20140629  20140929  20141229  20150330  20150629  20150930  20151231
19336    20140630  20140930  20141229  20150331  20150625  20150925  20151228
19337    20140630  20140930  20141231  20150331  20150630  20150929  20151230

                                                                               \
              min
PURYEAR      2014                                    2015
QUARTER         1         2         3         4         1         2         3
CUSTNO
1        20140108  20140401  20140703  20141001  20150102  20150401  20150702
2        20140103  20140405  20140701  20141002  20150106  20150401  20150702
3        20140103  20140401  20140701  20141001  20150106  20150402  20150703
4        20140103  20140401  20140701  20141007  20150102  20150402  20150703
6        20140101  20140401  20140702  20141001  20150101  20150401  20150701
...           ...       ...       ...       ...       ...       ...       ...
19333    20140301  20140402  20140701  20141005  20150102  20150402  20150703
19334    20140304  20140401  20140701  20141001  20150101  20150402  20150701
19335    20140308  20140401  20140703  20141003  20150101  20150404  20150701
19336    20140316  20140402  20140710  20141003  20150104  20150404  20150701
19337    20140327  20140619  20140702  20141003  20150102  20150401  20150701



PURYEAR
QUARTER         4
CUSTNO
1        20151002
2        20151002
3        20151001
4        20151002
6        20151007
...           ...
19333    20151011
19334    20151002
19335    20151005
19336    20151001
19337    20151001

[18866 rows x 32 columns]

In [19]:
recency_all.columns

MultiIndex([( 'PURAMT',   'sum', 2014, 1),
            ( 'PURAMT',   'sum', 2014, 2),
            ( 'PURAMT',   'sum', 2014, 3),
            ( 'PURAMT',   'sum', 2014, 4),
            ( 'PURAMT',   'sum', 2015, 1),
            ( 'PURAMT',   'sum', 2015, 2),
            ( 'PURAMT',   'sum', 2015, 3),
            ( 'PURAMT',   'sum', 2015, 4),
            ('PURDATE', 'count', 2014, 1),
            ('PURDATE', 'count', 2014, 2),
            ('PURDATE', 'count', 2014, 3),
            ('PURDATE', 'count', 2014, 4),
            ('PURDATE', 'count', 2015, 1),
            ('PURDATE', 'count', 2015, 2),
            ('PURDATE', 'count', 2015, 3),
            ('PURDATE', 'count', 2015, 4),
            ('PURDATE',   'max', 2014, 1),
            ('PURDATE',   'max', 2014, 2),
            ('PURDATE',   'max', 2014, 3),
            ('PURDATE',   'max', 2014, 4),
            ('PURDATE',   'max', 2015, 1),
            ('PURDATE',   'max', 2015, 2),
            ('PURDATE',   'max', 2015, 3),
            ('PURDATE',   'max', 2015, 4),
            ('PURDATE',   'min', 2014, 1),
            ('PURDATE',   'min', 2014, 2),
            ('PURDATE',   'min', 2014, 3),
            ('PURDATE',   'min', 2014, 4),
            ('PURDATE',   'min', 2015, 1),
            ('PURDATE',   'min', 2015, 2),
            ('PURDATE',   'min', 2015, 3),
            ('PURDATE',   'min', 2015, 4)],
           names=[None, None, 'PURYEAR', 'QUARTER'])

In [61]:
import re

# 최근 구매일 - 구매 시작일: ex) 89 days
purdate_diff = recency_all[('PURDATE','max')].apply(lambda x: pd.to_datetime(x.astype(str))) - recency_all[('PURDATE','min')].apply(lambda x: pd.to_datetime(x.astype(str)))

# 최근 구매일 - 구매 시작일의 숫자만 추출: ex) 89
purdate_diff_int = purdate_diff.apply(lambda x: x.apply(lambda y: y.days))

# (최근 구매일 - 구매 시작일)/구매 횟수  => 해당 구매 기간 동안 1일 평균 구매 횟수
purdate_freq_mean = purdate_diff_int/recency_all[('PURDATE','count')]

# 총 구매 금액 /구매 횟수  => 구매 평균 금액
purchase_mean = recency_all[('PURAMT','sum')] / recency_all[('PURDATE','count')]
purchase_mean

PURYEAR          2014                                              \
QUARTER             1             2              3              4
CUSTNO
1        75550.330579  92168.931624   75926.408451  109040.943925
2        76757.989130  65804.903226  106771.079137   53643.333333
3         2178.287770   2624.081340    2634.910569    2719.765517
4        14082.182796  21087.361582   28640.117647   20955.172414
6        11281.281250  16225.437500   17771.196629   15779.764706
...               ...           ...            ...            ...
19333     5523.693694   5376.400000    6424.555556    4256.542056
19334     6318.553030   5444.501006    5203.288889    7943.290141
19335     9870.884211   9434.311864    8467.536496    7978.558594
19336    56200.000000  42588.076923   39504.625000   77452.500000
19337     2360.000000   3427.142857    3125.487047    4529.644970

PURYEAR           2015
QUARTER              1              2              3              4
CUSTNO
1         54087.122093   61395.571429  106939.452055   67896.641026
2        127458.482759   80259.741379  109861.904762  100850.588235
3          3210.459770    2353.157895    3028.899281    2775.279570
4         14240.098361   13614.503546   18026.372881   15048.084112
6         15271.029536   17311.381250   15430.236842   14629.630137
...                ...            ...            ...            ...
19333      6444.621212    6834.444444    5860.697674    5782.555556
19334      7233.744681    4513.582353   15153.750000    9706.458333
19335      7883.236559   12139.127660    7433.708134    8744.539130
19336     45976.507937  109856.060606  123963.725490   97033.137255
19337      3789.858156    3014.885845    4001.546053    4149.775281

[18866 rows x 8 columns]

### 연도/분기/대대분류별/금액타입별 1일 평균 구매 횟수/평균 구매금액 구하기

In [65]:
recency_cate_all = pd.pivot_table(data = purchase,
                             index = 'CUSTNO',
                             columns = ['PURYEAR','QUARTER','BBCL'],
                             values = ['PURDATE','PURAMT'],
                             aggfunc = {'PURDATE':['min', 'max', 'count'],
                                        'PURAMT': 'sum'})
recency_cate_all

           PURAMT                                                         \
              sum
PURYEAR      2014
QUARTER         1
BBCL    가구인테리어/잡화 가전/레저취미/멀티샵   교육문화/아동      식품/생활     의류/이미용      침구/주방
CUSTNO
1        390800.0    706800.0  103740.0  1786820.0  5505720.0   647710.0
2        712170.0   2224830.0  113920.0  2907240.0  6955510.0  1209800.0
3           600.0         NaN       NaN   302182.0        NaN        NaN
4        381330.0    141550.0       NaN   607913.0   130850.0    48000.0
6             NaN         NaN       NaN  1131996.0   945300.0    88710.0
...           ...         ...       ...        ...        ...        ...
19333         NaN     22000.0   25700.0   516530.0    43000.0     5900.0
19334         NaN         NaN   18250.0   770799.0    45000.0        NaN
19335     25000.0         NaN  214524.0   379780.0    45000.0   273430.0
19336         NaN    387000.0       NaN    62600.0        NaN        NaN
19337         NaN         NaN       NaN    16520.0        NaN        NaN

                                                                           \

PURYEAR
QUARTER          2
BBCL     가구인테리어/잡화 가전/레저취미/멀티샵   교육문화/아동      식품/생활     의류/이미용      침구/주방
CUSTNO
1        1374870.0   1436400.0   73720.0  2982935.0  4915840.0        NaN
2         792960.0   1755430.0  352460.0  2446790.0  3506870.0  1345250.0
3           1500.0         NaN       NaN   466933.0    80000.0        NaN
4         468200.0    265750.0       NaN  1035713.0  1956800.0     6000.0
6         433800.0     14800.0       NaN  1104484.0  1410000.0   152200.0
...            ...         ...       ...        ...        ...        ...
19333       1500.0         NaN   25600.0   886888.0        NaN        NaN
19334          NaN     15900.0   64530.0  2546907.0    42980.0    35600.0
19335      57300.0    144000.0  594240.0  1366532.0   417610.0   203440.0
19336     105000.0      8900.0       NaN  1205620.0  1944350.0    58000.0
19337          NaN         NaN       NaN    71970.0        NaN        NaN

                                                                          \

PURYEAR
QUARTER         3
BBCL    가구인테리어/잡화 가전/레저취미/멀티샵   교육문화/아동      식품/생활     의류/이미용      침구/주방
CUSTNO
1        431450.0      9900.0       NaN  1183540.0  6425250.0  2731410.0
2        604560.0   2265960.0  110670.0  1844100.0  6286870.0  3729020.0
3          6900.0     26900.0       NaN   606888.0        NaN     7500.0
4        195400.0    518350.0       NaN   525150.0   997110.0   198400.0
6        136000.0         NaN       NaN  1363523.0  1613400.0    50350.0
...           ...         ...       ...        ...        ...        ...
19333      1000.0         NaN       NaN   577210.0        NaN        NaN
19334     13500.0      3000.0   71170.0  2444858.0    39600.0     3500.0
19335    294300.0     29700.0  360120.0  1394735.0    53200.0   188050.0
19336    173100.0    202450.0   19800.0   823220.0  1903900.0    37900.0
19337      1150.0     18980.0       NaN   546189.0        NaN    36900.0

                                                                           \

PURYEAR
QUARTER          4
BBCL     가구인테리어/잡화 가전/레저취미/멀티샵   교육문화/아동      식품/생활     의류/이미용      침구/주방
CUSTNO
1        1254030.0   6769000.0       NaN  2068722.0  5495850.0  7747160.0
2         756680.0    468960.0       NaN  1852120.0  3876610.0   126550.0
3            950.0         NaN       NaN   393416.0        NaN        NaN
4         109300.0     95000.0       NaN   375620.0   862280.0   380900.0
6          61700.0         NaN       NaN  1023506.0  1682000.0   183610.0
...            ...         ...       ...        ...        ...        ...
19333       1750.0         NaN       NaN   453700.0        NaN        NaN
19334      67600.0     19000.0  170190.0  2418708.0    45850.0    98520.0
19335      98900.0     26300.0  419270.0  1192781.0   188110.0   117150.0
19336     351000.0     91450.0       NaN   704010.0  4739930.0        NaN
19337       1000.0         NaN       NaN   517050.0   238000.0     9460.0

                                                                            \

PURYEAR       2015
QUARTER          1
BBCL     가구인테리어/잡화 가전/레저취미/멀티샵    교육문화/아동      식품/생활     의류/이미용      침구/주방
CUSTNO
1        1256160.0    509730.0        NaN  1762085.0  5063540.0   711470.0
2        2139280.0   1863790.0  1039090.0  1904430.0  9575770.0  1959120.0
3            150.0         NaN        NaN   279160.0        NaN        NaN
4          32020.0     30000.0        NaN   936142.0   710130.0    29000.0
6         130500.0         NaN        NaN  1459684.0   981750.0  1047300.0
...            ...         ...        ...        ...        ...        ...
19333          NaN         NaN        NaN   850690.0        NaN        NaN
19334      17000.0         NaN   534800.0  1046130.0    89300.0    12700.0
19335      41000.0     65300.0   468860.0  1257123.0   331050.0    36090.0
19336      82000.0    114000.0   153300.0   496000.0  1841970.0   209250.0
19337          NaN         NaN     1500.0   460090.0    69800.0     2980.0

                                                                          \

PURYEAR
QUARTER         2
BBCL    가구인테리어/잡화 가전/레저취미/멀티샵   교육문화/아동      식품/생활     의류/이미용      침구/주방
CUSTNO
1        278200.0     90250.0       NaN  1304090.0  6431090.0   491750.0
2        487600.0    642630.0       NaN  1020980.0  5245070.0  1913850.0
3          2000.0         NaN       NaN   310970.0        NaN        NaN
4        125720.0     32000.0   69000.0   880725.0   812200.0        NaN
6        237500.0         NaN       NaN   614021.0  1918300.0        NaN
...           ...         ...       ...        ...        ...        ...
19333         NaN         NaN       NaN   553590.0        NaN        NaN
19334     11000.0         NaN   48190.0   604419.0   100700.0     3000.0
19335    812800.0    226200.0  506530.0  1050485.0   168220.0    88460.0
19336    455300.0    470150.0       NaN   225000.0  2474800.0        NaN
19337         NaN         NaN       NaN   659090.0        NaN     1170.0

                                                                          \

PURYEAR
QUARTER         3
BBCL    가구인테리어/잡화 가전/레저취미/멀티샵   교육문화/아동      식품/생활     의류/이미용      침구/주방
CUSTNO
1        886050.0    234650.0       NaN   629070.0  4256810.0  1800000.0
2        806200.0   4553070.0   71900.0  1401150.0  6120450.0   889830.0
3          2000.0      2300.0       NaN   416717.0        NaN        NaN
4        229800.0    141520.0       NaN   792792.0   904000.0    59000.0
6        360900.0         NaN    1200.0  1584494.0  1526100.0    45400.0
...           ...         ...       ...        ...        ...        ...
19333         NaN         NaN       NaN   252010.0        NaN        NaN
19334         NaN         NaN  250400.0    76520.0   158000.0        NaN
19335     72800.0    143000.0  401260.0   860445.0    46000.0    30140.0
19336    813400.0     30000.0   63700.0   945500.0  4285250.0   184300.0
19337         NaN      4990.0       NaN  1210410.0        NaN     1070.0

                                                                          \

PURYEAR
QUARTER          4
BBCL     가구인테리어/잡화 가전/레저취미/멀티샵   교육문화/아동      식품/생활     의류/이미용     침구/주방
CUSTNO
1         170700.0    150000.0       NaN   590028.0  3548260.0  836950.0
2         389550.0    534840.0       NaN  1746090.0  8898250.0  432490.0
3           2000.0         NaN       NaN   248301.0     7800.0       NaN
4         124360.0         NaN       NaN   775805.0   655980.0   54000.0
6         173800.0     77000.0    1900.0  1169349.0  1778040.0    3800.0
...            ...         ...       ...        ...        ...       ...
19333          NaN         NaN       NaN   520430.0        NaN       NaN
19334          NaN     27000.0  312200.0   126710.0        NaN       NaN
19335      33300.0     71100.0  744180.0   968164.0   188500.0    6000.0
19336    1516750.0    144500.0       NaN   318600.0  2809840.0  159000.0
19337     138000.0      1990.0       NaN   886010.0    81990.0       NaN

          PURDATE              ...                                      \
            count              ...         max                     min
PURYEAR      2014              ...        2015                    2014
QUARTER         1              ...           4                       1
BBCL    가구인테리어/잡화 가전/레저취미/멀티샵  ...      의류/이미용       침구/주방   가구인테리어/잡화
CUSTNO                         ...
1             7.0         4.0  ...  20151230.0  20151021.0  20140118.0
2            14.0         5.0  ...  20151225.0  20151220.0  20140115.0
3            12.0         NaN  ...  20151208.0         NaN  20140103.0
4             7.0         1.0  ...  20151231.0  20151218.0  20140115.0
6             NaN         NaN  ...  20151230.0  20151109.0         NaN
...           ...         ...  ...         ...         ...         ...
19333         NaN         2.0  ...         NaN         NaN         NaN
19334         NaN         NaN  ...         NaN         NaN         NaN
19335         2.0         NaN  ...  20151217.0  20151118.0  20140321.0
19336         NaN         3.0  ...  20151228.0  20151201.0         NaN
19337         NaN         NaN  ...  20151114.0         NaN         NaN

                                                                     \

PURYEAR
QUARTER
BBCL    가전/레저취미/멀티샵     교육문화/아동       식품/생활      의류/이미용       침구/주방
CUSTNO
1        20140118.0  20140115.0  20140108.0  20140118.0  20140115.0
2        20140110.0  20140302.0  20140103.0  20140106.0  20140103.0
3               NaN         NaN  20140103.0         NaN         NaN
4        20140207.0         NaN  20140103.0  20140110.0  20140219.0
6               NaN         NaN  20140101.0  20140102.0  20140109.0
...             ...         ...         ...         ...         ...
19333    20140316.0  20140307.0  20140301.0  20140301.0  20140307.0
19334           NaN  20140321.0  20140304.0  20140317.0         NaN
19335           NaN  20140312.0  20140308.0  20140314.0  20140308.0
19336    20140322.0         NaN  20140316.0         NaN         NaN
19337           NaN         NaN  20140327.0         NaN         NaN

                                                                     \

PURYEAR
QUARTER           2
BBCL      가구인테리어/잡화 가전/레저취미/멀티샵     교육문화/아동       식품/생활      의류/이미용
CUSTNO
1        20140404.0  20140417.0  20140417.0  20140401.0  20140401.0
2        20140409.0  20140408.0  20140501.0  20140405.0  20140413.0
3        20140402.0         NaN         NaN  20140401.0  20140623.0
4        20140406.0  20140406.0         NaN  20140401.0  20140418.0
6        20140404.0  20140625.0         NaN  20140401.0  20140410.0
...             ...         ...         ...         ...         ...
19333    20140603.0         NaN  20140410.0  20140402.0         NaN
19334           NaN  20140526.0  20140428.0  20140401.0  20140405.0
19335    20140421.0  20140417.0  20140412.0  20140401.0  20140414.0
19336    20140608.0  20140511.0         NaN  20140405.0  20140402.0
19337           NaN         NaN         NaN  20140619.0         NaN

                                                                     \

PURYEAR
QUARTER                       3
BBCL          침구/주방   가구인테리어/잡화 가전/레저취미/멀티샵     교육문화/아동       식품/생활
CUSTNO
1               NaN  20140705.0  20140902.0         NaN  20140704.0
2        20140418.0  20140704.0  20140814.0  20140802.0  20140701.0
3               NaN  20140703.0  20140731.0         NaN  20140701.0
4        20140531.0  20140701.0  20140704.0         NaN  20140701.0
6        20140401.0  20140721.0         NaN         NaN  20140704.0
...             ...         ...         ...         ...         ...
19333           NaN  20140708.0         NaN         NaN  20140701.0
19334    20140429.0  20140913.0  20140711.0  20140703.0  20140701.0
19335    20140408.0  20140717.0  20140724.0  20140703.0  20140703.0
19336    20140629.0  20140718.0  20140718.0  20140924.0  20140710.0
19337           NaN  20140724.0  20140807.0         NaN  20140702.0

                                                                     \

PURYEAR
QUARTER                                   4
BBCL         의류/이미용       침구/주방   가구인테리어/잡화 가전/레저취미/멀티샵     교육문화/아동
CUSTNO
1        20140703.0  20140815.0  20141005.0  20141010.0         NaN
2        20140703.0  20140701.0  20141003.0  20141016.0         NaN
3               NaN  20140901.0  20141001.0         NaN         NaN
4        20140701.0  20140722.0  20141007.0  20141111.0         NaN
6        20140702.0  20140705.0  20141022.0         NaN         NaN
...             ...         ...         ...         ...         ...
19333           NaN         NaN  20141117.0         NaN         NaN
19334    20140719.0  20140920.0  20141024.0  20141002.0  20141010.0
19335    20140717.0  20140715.0  20141221.0  20141112.0  20141003.0
19336    20140713.0  20140819.0  20141026.0  20141019.0         NaN
19337           NaN  20140917.0  20141010.0         NaN         NaN

                                                                     \

PURYEAR                                            2015
QUARTER                                               1
BBCL          식품/생활      의류/이미용       침구/주방   가구인테리어/잡화 가전/레저취미/멀티샵
CUSTNO
1        20141001.0  20141001.0  20141007.0  20150102.0  20150125.0
2        20141002.0  20141017.0  20141102.0  20150114.0  20150114.0
3        20141001.0         NaN         NaN  20150106.0         NaN
4        20141007.0  20141007.0  20141010.0  20150204.0  20150330.0
6        20141001.0  20141002.0  20141001.0  20150209.0         NaN
...             ...         ...         ...         ...         ...
19333    20141005.0         NaN         NaN         NaN         NaN
19334    20141001.0  20141024.0  20141204.0  20150115.0         NaN
19335    20141003.0  20141007.0  20141007.0  20150214.0  20150214.0
19336    20141003.0  20141004.0         NaN  20150107.0  20150218.0
19337    20141003.0  20141018.0  20141003.0         NaN         NaN

                                                                     \

PURYEAR
QUARTER                                                           2
BBCL        교육문화/아동       식품/생활      의류/이미용       침구/주방   가구인테리어/잡화
CUSTNO
1               NaN  20150108.0  20150111.0  20150102.0  20150415.0
2        20150125.0  20150106.0  20150118.0  20150114.0  20150408.0
3               NaN  20150106.0         NaN         NaN  20150611.0
4               NaN  20150102.0  20150102.0  20150223.0  20150430.0
6               NaN  20150101.0  20150103.0  20150101.0  20150421.0
...             ...         ...         ...         ...         ...
19333           NaN  20150102.0         NaN         NaN         NaN
19334    20150101.0  20150101.0  20150118.0  20150104.0  20150404.0
19335    20150102.0  20150101.0  20150116.0  20150121.0  20150418.0
19336    20150111.0  20150104.0  20150104.0  20150121.0  20150521.0
19337    20150206.0  20150102.0  20150315.0  20150129.0         NaN

                                                                     \

PURYEAR
QUARTER
BBCL    가전/레저취미/멀티샵     교육문화/아동       식품/생활      의류/이미용       침구/주방
CUSTNO
1        20150529.0         NaN  20150401.0  20150403.0  20150418.0
2        20150412.0         NaN  20150401.0  20150404.0  20150417.0
3               NaN         NaN  20150402.0         NaN         NaN
4        20150413.0  20150610.0  20150402.0  20150408.0         NaN
6               NaN         NaN  20150401.0  20150401.0         NaN
...             ...         ...         ...         ...         ...
19333           NaN         NaN  20150402.0         NaN         NaN
19334           NaN  20150405.0  20150402.0  20150404.0  20150405.0
19335    20150411.0  20150404.0  20150404.0  20150413.0  20150417.0
19336    20150409.0         NaN  20150405.0  20150404.0         NaN
19337           NaN         NaN  20150401.0         NaN  20150603.0

                                                                     \

PURYEAR
QUARTER           3
BBCL      가구인테리어/잡화 가전/레저취미/멀티샵     교육문화/아동       식품/생활      의류/이미용
CUSTNO
1        20150713.0  20150717.0         NaN  20150713.0  20150702.0
2        20150716.0  20150724.0  20150721.0  20150702.0  20150702.0
3        20150730.0  20150723.0         NaN  20150703.0         NaN
4        20150708.0  20150703.0         NaN  20150703.0  20150703.0
6        20150713.0         NaN  20150729.0  20150701.0  20150709.0
...             ...         ...         ...         ...         ...
19333           NaN         NaN         NaN  20150703.0         NaN
19334           NaN         NaN  20150726.0  20150701.0  20150726.0
19335    20150924.0  20150701.0  20150701.0  20150701.0  20150807.0
19336    20150801.0  20150919.0  20150701.0  20150701.0  20150709.0
19337           NaN  20150723.0         NaN  20150701.0         NaN

                                                                     \

PURYEAR
QUARTER                       4
BBCL          침구/주방   가구인테리어/잡화 가전/레저취미/멀티샵     교육문화/아동       식품/생활
CUSTNO
1        20150717.0  20151014.0  20151218.0         NaN  20151002.0
2        20150709.0  20151002.0  20151018.0         NaN  20151002.0
3               NaN  20151208.0         NaN         NaN  20151001.0
4        20150703.0  20151010.0         NaN         NaN  20151002.0
6        20150707.0  20151016.0  20151116.0  20151127.0  20151007.0
...             ...         ...         ...         ...         ...
19333           NaN         NaN         NaN         NaN  20151011.0
19334           NaN         NaN  20151112.0  20151107.0  20151002.0
19335    20150701.0  20151023.0  20151021.0  20151007.0  20151005.0
19336    20150718.0  20151002.0  20151003.0         NaN  20151001.0
19337    20150715.0  20151027.0  20151102.0         NaN  20151001.0



PURYEAR
QUARTER
BBCL         의류/이미용       침구/주방
CUSTNO
1        20151013.0  20151013.0
2        20151004.0  20151018.0
3        20151115.0         NaN
4        20151025.0  20151218.0
6        20151007.0  20151109.0
...             ...         ...
19333           NaN         NaN
19334           NaN         NaN
19335    20151019.0  20151117.0
19336    20151001.0  20151201.0
19337    20151027.0         NaN

[18866 rows x 192 columns]

In [63]:
recency_cate_all.columns

MultiIndex([( 'PURAMT', 'sum', 2014, 1,   '가구인테리어/잡화'),
            ( 'PURAMT', 'sum', 2014, 1, '가전/레저취미/멀티샵'),
            ( 'PURAMT', 'sum', 2014, 1,     '교육문화/아동'),
            ( 'PURAMT', 'sum', 2014, 1,       '식품/생활'),
            ( 'PURAMT', 'sum', 2014, 1,      '의류/이미용'),
            ( 'PURAMT', 'sum', 2014, 1,       '침구/주방'),
            ( 'PURAMT', 'sum', 2014, 2,   '가구인테리어/잡화'),
            ( 'PURAMT', 'sum', 2014, 2, '가전/레저취미/멀티샵'),
            ( 'PURAMT', 'sum', 2014, 2,     '교육문화/아동'),
            ( 'PURAMT', 'sum', 2014, 2,       '식품/생활'),
            ...
            ('PURDATE', 'min', 2015, 3,     '교육문화/아동'),
            ('PURDATE', 'min', 2015, 3,       '식품/생활'),
            ('PURDATE', 'min', 2015, 3,      '의류/이미용'),
            ('PURDATE', 'min', 2015, 3,       '침구/주방'),
            ('PURDATE', 'min', 2015, 4,   '가구인테리어/잡화'),
            ('PURDATE', 'min', 2015, 4, '가전/레저취미/멀티샵'),
            ('PURDATE', 'min', 2015, 4,     '교육문화/아동'),
            ('PURDATE', 'min', 2015, 4,       '식품/생활'),
            ('PURDATE', 'min', 2015, 4,      '의류/이미용'),
            ('PURDATE', 'min', 2015, 4,       '침구/주방')],
           names=[None, None, 'PURYEAR', 'QUARTER', 'BBCL'], length=192)

# F: 구매 횟수