### 유지고객 데이터 불러오기

In [1]:
import pandas as pd

cust_유지 = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지.csv', index_col = 0)
cust_유지

,CUSTNO,ASSO,RNO,BBCL,BCL,MCL,SCL,TYPE,PURYEAR,HALF_YEAR,QUARTER,PRICE_TYPE,PURAMT,Q_year
0,17485,B,8919510,식품/생활,식품,샐러드채소,양상추,일용품,2015,4,3,저가,2000,2015_3
1,17485,B,8919510,식품/생활,식품,김치채소,무우,일용품,2015,4,3,저가,1250,2015_3
2,17485,B,8919510,식품/생활,식품,일반한우,한우양지,일용품,2015,4,3,고가,23790,2015_3
3,17485,B,8919510,식품/생활,식품,포도,캠벨포도,일용품,2015,4,3,중가,25600,2015_3
4,17485,B,8919510,식품/생활,식품,메론,머스크메론,일용품,2015,4,3,중가,12800,2015_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593024,16515,B,7784996,식품/생활,식품,족발,즉석족발,일용품,2014,1,2,중가,4979,2014_2
28593025,5786,B,7784894,식품/생활,식품,스낵,일반스낵,일용품,2014,1,2,중가,490,2014_2
28593026,14026,B,7784900,식품/생활,식품,족발,냉장족발,일용품,2014,1,2,중가,4000,2014_2
28593027,16612,C,9500419,식품/생활,식품,기타축산,돼지양념육,일용품,2014,2,3,중가,7900,2014_3
28593028,7565,C,10737145,식품/생활,식품,우유,일반우유,일용품,2014,2,4,저가,5200,2014_4

#### 유지고객 인덱스 추출

In [3]:
cust_idx = cust_유지['CUSTNO'].unique()
cust_idx

array([17485, 12960, 15693, ..., 17252,  1074, 17017], dtype=int64)

### 고객 구매데이터 원본 불러오기

In [2]:
purchase = pd.read_csv('C:/cakd7/2차 프로젝트/raw_data/구매상품TR.txt', sep = ',', encoding = 'cp949')
purchase

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

#### 유지고객 관련 원본 데이터 불러오기

In [4]:
cust_유지_purchase = purchase[purchase['고객번호'].isin(cust_idx)]
cust_유지_purchase

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

#### 구매일자 데이터 merge

In [9]:
# merge를 위한 컬럼만 추출
for_merge = cust_유지_purchase[['제휴사','고객번호','구매일자','영수증번호']]

# merge on 요소가 되기위해 컬럼이름 변경
for_merge.rename(columns = {'제휴사': 'ASSO',
                            '고객번호' : 'CUSTNO',
                            '구매일자': 'PURDATE',
                            '영수증번호': 'RNO'}, inplace = True)

C:\Users\NEW\AppData\Local\Temp\ipykernel_17064\2172041884.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_merge.rename(columns = {'제휴사': 'ASSO',

In [12]:
# merge
cust_유지_merge = pd.merge(cust_유지_purchase, cust_유지, how = 'outer')
cust_유지_merge

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

# R: 최근 구매일