# 고객 데모데이터 불러오기

In [2]:
import pandas as pd

customer = pd.read_csv('C:/cakd7/2차 프로젝트/data/고객DEMO.txt', sep=',', encoding='cp949')
customer

        고객번호 성별      연령대   거주지역
0          1  M    60세이상   60.0
1          2  M    60세이상  100.0
2          3  M    60세이상   33.0
3          4  F    60세이상   16.0
4          5  M    60세이상  100.0
...      ... ..      ...    ...
19378  19379  F  20세~24세   69.0
19379  19380  F  20세~24세   39.0
19380  19381  F  40세~44세  460.0
19381  19382  F  45세~49세  460.0
19382  19383  F  25세~29세  500.0

[19383 rows x 4 columns]

### 성별 인코딩

In [4]:
customer['성별'].unique()

array(['M', 'F'], dtype=object)

In [6]:
customer['성별_인코딩'] = customer['성별'].replace(['M', 'F'],['0','1'])
customer['성별_인코딩'].astype(int)

0        0
1        0
2        0
3        1
4        0
        ..
19378    1
19379    1
19380    1
19381    1
19382    1
Name: 성별_인코딩, Length: 19383, dtype: int32

### 연령대 인코딩

In [8]:
customer['연령대'].unique()

array(['60세이상', '55세~59세', '50세~54세', '45세~49세', '40세~44세', '35세~39세',
       '30세~34세', '25세~29세', '20세~24세', '19세이하'], dtype=object)

In [11]:
[str(i) for i in range(10,0,-1)]

['10', '9', '8', '7', '6', '5', '4', '3', '2', '1']

In [13]:
customer.columns

Index(['고객번호', '성별', '연령대', '거주지역', '성별_인코딩', '연령대_5세_인코딩', '연령대_10세_인코딩'], dtype='object')

In [16]:

customer['연령대_5세_인코딩'] = customer['연령대'].replace(['60세이상', '55세~59세', '50세~54세', '45세~49세', '40세~44세', 
                                                       '35세~39세', '30세~34세', '25세~29세', '20세~24세', '19세이하'],
                                                      [str(i) for i in range(10,0,-1)])
customer['연령대_10세_인코딩'] = customer['연령대'].replace(['60세이상', '55세~59세', '50세~54세', '45세~49세', '40세~44세', 
                                                       '35세~39세', '30세~34세', '25세~29세', '20세~24세', '19세이하'],
                                                      ['6', '5', '5', '4', '4', '3', '3', '2', '2', '1'])

customer_encoding = customer[['고객번호','성별_인코딩', '연령대_5세_인코딩', '연령대_10세_인코딩']]
customer_encoding.columns = ['고객번호', '성별', '연령대_5세', '연령대_10세']
customer_encoding.to_csv('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/고객속성정보/전체고객_성별_연령.csv')