## 분류로직 데이터 불러오기

In [2]:
import pandas as pd
final_cat = pd.read_excel('최종cat순서나열.xlsx', index_col=0)
final_cat.drop(columns=['대분류코드'], inplace=True)

In [3]:
final_cat.drop(columns=['구매금액_min', '구매금액_max', '구매금액_mean'], inplace=True)

In [4]:
final_cat

     제휴사 금액 타입 대분류명_y 중분류명             소분류명  UPRICE     QTY    AVG  AVGVS
0      B    저가     식품   버섯              건버섯    3017  123931   7926    0.4
1      B    저가     식품   버섯            느타리버섯    3017  123931   7926    0.4
2      B    저가     식품   버섯             버섯모둠    3017  123931   7926    0.4
3      B    저가     식품   버섯           버섯선물세트    3017  123931   7926    0.4
4      B    저가     식품   버섯            새송이버섯    3017  123931   7926    0.4
...   ..   ...    ...  ...              ...     ...     ...    ...    ...
4611   A    중가    멀티샵   기타         PECK G&C   96379     649  96379    1.0
4612   A    중가    멀티샵   기타  PECK Restaurant   96379     649  96379    1.0
4613   A    중가    멀티샵   기타            멘즈셀렉샵   96379     649  96379    1.0
4614   A    중가    멀티샵   기타           스테이셔너리   96379     649  96379    1.0
4615   A    중가    멀티샵   기타             팩토리샵   96379     649  96379    1.0

[4616 rows x 9 columns]

In [6]:
final_cat

,제휴사,금액 타입,대분류명_y,중분류명,소분류명,UPRICE,QTY,AVG,AVGVS,ASSO_SCL
0,B,저가,식품,버섯,건버섯,3017,123931,7926,0.4,B_건버섯
1,B,저가,식품,버섯,느타리버섯,3017,123931,7926,0.4,B_느타리버섯
2,B,저가,식품,버섯,버섯모둠,3017,123931,7926,0.4,B_버섯모둠
3,B,저가,식품,버섯,버섯선물세트,3017,123931,7926,0.4,B_버섯선물세트
4,B,저가,식품,버섯,새송이버섯,3017,123931,7926,0.4,B_새송이버섯
...,...,...,...,...,...,...,...,...,...,...
4611,A,중가,멀티샵,기타,PECK G&C,96379,649,96379,1.0,A_PECK G&C
4612,A,중가,멀티샵,기타,PECK Restaurant,96379,649,96379,1.0,A_PECK Restaurant
4613,A,중가,멀티샵,기타,멘즈셀렉샵,96379,649,96379,1.0,A_멘즈셀렉샵
4614,A,중가,멀티샵,기타,스테이셔너리,96379,649,96379,1.0,A_스테이셔너리
4615,A,중가,멀티샵,기타,팩토리샵,96379,649,96379,1.0,A_팩토리샵

In [5]:
final_cat['ASSO_SCL'] = final_cat['제휴사'] + '_' + final_cat['소분류명']

## df1 불러오기

In [7]:
import pandas as pd
df1 = pd.read_csv('purchase1_include_pt.csv', index_col=0)
df1

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14127929,15018,C,63,990213,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20151018,2015,4,10,15,11400,중가
14127930,6415,C,417,10193213,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140928,2014,3,9,13,13818,중가
14127931,15265,C,133,6069525,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150117,2015,1,1,17,13000,중가
14127932,7962,C,89,1141067,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150924,2015,3,9,18,8158,중가
14127933,2273,C,253,7565660,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141225,2014,4,12,17,21900,중가

In [9]:
df1['ASSO_SCL'] = df1['ASSO'] + '_' + df1['SCL']

In [10]:
df1.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,ASSO_SCL
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,B_사이다
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,B_사이다
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,B_사이다
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,B_사이다
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,B_사이다

## df1 상품별 구매건수

In [11]:
pivot = pd.pivot_table(df1, index='CUSTNO', columns='ASSO_SCL', values='RNO', aggfunc='count')
pivot

ASSO_SCL,B_HMR,B_Local상추,B_Local얼갈이,B_NB 돼지고기,B_NB돼지고기,B_PB 계란,B_PB 돼지고기,B_PB 한우,B_PB돼지고기,B_PB바나나,...,C_콘아이스크림,C_콜라,C_파이,C_파인애플,C_포도,C_푸딩/젤리,C_풍선껌,C_현미,C_혼합탄산,C_후추
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.0,NaN,NaN,6.0,NaN,NaN,NaN,9.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
6,NaN,8.0,NaN,NaN,NaN,4.0,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,2.0,NaN,NaN,4.0,2.0,NaN,NaN,1.0,NaN,NaN,...,8.0,4.0,3.0,NaN,1.0,1.0,NaN,NaN,10.0,NaN
19335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,1.0,...,9.0,NaN,NaN,8.0,NaN,5.0,NaN,1.0,1.0,NaN
19336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.0,57.0,20.0,1.0,2.0,1.0,1.0,NaN,43.0,NaN

### 상품별 단가 가중치 곱해주기

In [24]:
col_list =list(pivot.columns)

for col in col_list:
    for cat in list(final_cat['ASSO_SCL']):
        if col == cat:
            index = int(final_cat[final_cat['ASSO_SCL']==cat].index[0])
            pivot[col] = pivot[col] * final_cat.loc[index,'AVGVS']
            break
        else:
            pass
            
        
pivot

ASSO_SCL,B_HMR,B_Local상추,B_Local얼갈이,B_NB 돼지고기,B_NB돼지고기,B_PB 계란,B_PB 돼지고기,B_PB 한우,B_PB돼지고기,B_PB바나나,...,C_콘아이스크림,C_콜라,C_파이,C_파인애플,C_포도,C_푸딩/젤리,C_풍선껌,C_현미,C_혼합탄산,C_후추
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.5,NaN,NaN,6.6,NaN,NaN,NaN,2.7,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.4,NaN,NaN
6,NaN,1.6,NaN,NaN,NaN,2.8,1.7,NaN,NaN,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,2.8,NaN,NaN,6.8,3.2,NaN,NaN,2.7,NaN,NaN,...,3.2,1.2,1.8,NaN,1.1,0.8,NaN,NaN,3.0,NaN
19335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1,NaN,0.5,...,3.6,NaN,NaN,4.8,NaN,4.0,NaN,1.4,0.3,NaN
19336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.2,17.1,12.0,0.6,2.2,0.8,0.3,NaN,12.9,NaN

### 확인해봄

In [36]:
pivot.isnull().sum().sum()

10107768

In [37]:
pivot21 = pivot.copy()
final_cat21 = final_cat.copy()

In [38]:
pivot21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18537 entries, 1 to 19337
Columns: 696 entries, B_HMR to C_후추
dtypes: float64(696)
memory usage: 98.6 MB

In [39]:
col_list =list(pivot21.columns)

for col in col_list:
    for cat in list(final_cat21['ASSO_SCL']):
        if col == cat:
            pivot21[col] = '확인'
            
            
            
            break
        else:
            pass
            
        
pivot21

ASSO_SCL,B_HMR,B_Local상추,B_Local얼갈이,B_NB 돼지고기,B_NB돼지고기,B_PB 계란,B_PB 돼지고기,B_PB 한우,B_PB돼지고기,B_PB바나나,...,C_콘아이스크림,C_콜라,C_파이,C_파인애플,C_포도,C_푸딩/젤리,C_풍선껌,C_현미,C_혼합탄산,C_후추
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
2,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
3,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
4,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
6,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
19334,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
19335,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
19336,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
19337,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인

In [40]:
pivot21.isnull().sum().sum()

0

## df2 상품별 구매건수

In [8]:
df2 = pd.read_csv('purchase2_include_pt.csv', index_col=0)
df2

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
14127934,7249,C,200,7252615,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141116,2014,4,11,18,4497,중가
14127935,3733,C,292,9196569,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140128,2014,1,1,18,7500,중가
14127936,8710,C,277,8617166,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141102,2014,4,11,17,22120,중가
14127937,16883,C,475,6641782,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150321,2015,1,3,23,8990,중가
14127938,5625,C,64,976199,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150319,2015,1,3,18,17000,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28255863,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28255864,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28255865,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28255866,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28255867,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

In [21]:
df2['ASSO_SCL'] = df2['ASSO'] + '_' + df2['SCL']

In [22]:
pivot2 = pd.pivot_table(df2, index='CUSTNO', columns='ASSO_SCL', values='RNO', aggfunc='count')
pivot2

ASSO_SCL,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,A_Bag&Bag,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### df2 상품별 단가 가중치 곱해줌

In [27]:
col_list =list(pivot2.columns)

for col in col_list:
    for cat in list(final_cat['ASSO_SCL']):
        if col == cat:
            index = int(final_cat[final_cat['ASSO_SCL']==cat].index[0])
            pivot2[col] = pivot2[col] * final_cat.loc[index,'AVGVS']
            break
        else:
            pass
            
        
pivot2

ASSO_SCL,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,A_Bag&Bag,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6,NaN,NaN,NaN,NaN,NaN,NaN,0.6,NaN,0.2
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 확인해봄

In [25]:
final_cat.loc[final_cat['ASSO_SCL'] =='B_Local상추', 'AVGVS']

60    0.2
Name: AVGVS, dtype: float64

### 구매지수 분자 부분 저장함

In [31]:
pivot.to_csv('purchase_index1.csv')
pivot2.to_csv('purchase_index2.csv')

## 분모 구함

In [45]:
df = pd.concat([df1, df2], axis=0)
df

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,ASSO_SCL
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,B_사이다
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,B_사이다
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,B_사이다
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,B_사이다
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,B_사이다
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28255863,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가,B_온라인팥빙수재료
28255864,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가,B_여성발가락
28255865,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가,B_즉석쥐포
28255866,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가,B_온라인 안주
28255867,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가,B_침실용품

In [46]:
cust_f_sum = pd.pivot_table(df, index='CUSTNO', values='RNO', aggfunc='count')
cust_f_sum

         RNO
CUSTNO
1       1057
2       1116
3       1191
4        930
6       1593
...      ...
19333    824
19334   1964
19335   1873
19336    440
19337   1321

[18866 rows x 1 columns]

## 구매지수 계산

In [ ]:
col_list =list(pivot2.columns)

for col in col_list:
    for cat in list(final_cat['ASSO_SCL']):
        if col == cat:
            index = int(final_cat[final_cat['ASSO_SCL']==cat].index[0])
            pivot2[col] = pivot2[col] * final_cat.loc[index,'AVGVS']
            break
        else:
            pass
            
        
pivot2

In [ ]:
for i1 in pivot.index:
    for i2 in df.index:
        if i1 == i2:
            bunmo = pivot.loc[i1, 'RNO']
            purchase_index = df.loc[i2, :] / bunmo