# 서프라이즈 모델 파라미터 개선 및 학습 코드

In [29]:
from surprise import KNNBasic, SVD, SVDpp, NMF
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise import accuracy
from surprise.model_selection import GridSearchCV

def find_best_params(df, min_r, max_r):
    reader = Reader(rating_scale=(min_r, max_r))
    data = Dataset.load_from_df(df, reader=reader)
    # data_folds = DatasetAutoFolds(ratings_file='surprise_dataset_1027.csv', reader=reader)
    #trainset = data_folds_build_full_trainset()
    trainset, testset = train_test_split(data,test_size=.25,random_state=0)
    
    print('SVD 모델로 학습') 
    algo = SVD(random_state=0)
    cross_validate(algo, data, measures=['RMSE','MAE'], cv=3, verbose=True)


    # 최적화할 파라미터를 딕셔너리 형태로 지정 
    param_grid ={'n_epochs': [20,40], 'n_factors': [50]}

    gs = GridSearchCV(SVD, param_grid, measures = ['rmse','mae'],cv=3)
    gs.fit(data)

    print(gs.best_score['rmse'])
    print(gs.best_params['rmse'])
    
    return gs.best_params['rmse']

In [30]:
from surprise.dataset import DatasetAutoFolds

def r_predict_df(df, min_r,max_r):
    reader = Reader(rating_scale=(min_r,max_r))
    data = Dataset.load_from_df(df, reader=reader)
    
    n_epochs = 40#best_params['n_epochs']
    n_factors = 200# best_params['n_factors']   
    
    #train 과  test으로 나누지말고 전부로 모델 학습하기 
    trainset = data.build_full_trainset()
    
    #SVD 모델로 학습 
    algo = SVD(n_epochs=n_epochs ,n_factors=n_factors, random_state=0)
    algo.fit(trainset)

    print('-------------학습 완료-------------------')
    
    return algo

In [31]:
# 1. 해당 userid가 아직 평점을 매기지 않은 제품, 평점을 매긴 모든 제품 추출 (리스트 형태)
def get_unpurchased_surprise(origin_df, userid):
    # userid에 해당하는 사용자가 평점을 매긴 모든 제품
    purchased_prds = origin_df[(origin_df['CUSTNO']==userid)&(origin_df['SCORE'] > 0)]['PRD'].tolist()
    
    total_prds = origin_df['PRD'].unique()
    
    # userid에 해당하는 사용자가 한번도 구매하지 않은 모든 제품
    unpurchased_prds = [PRD for PRD in total_prds if PRD not in purchased_prds]

    # 한번도 구매하지 않은 모든 제품, 평점을 매긴 모든 제품 반출
    return unpurchased_prds,  purchased_prds

# 입력(군집별 고객 데이터, 최적의 예측값 모델, 고객번호, top 개수) -> 출력 (안사본 물품 중 top, 구매한 물품 중 top)
def recomm_prd_by_surprise(temp_df, algo,  userid, top_n):
    
    # 구매하지 않은 제품, 평점을 매긴 모든 제품 추출 각각 추출 (1. 함수 적용)
    unpurchased_prds, purchased_prds = get_unpurchased_surprise(temp_df, userid)
    
#  모델 적용
    # 1) 아직 안사본 제품
    predictions = [algo.predict(str(userid), str(PRD)) for PRD in unpurchased_prds]
    # 2) 이미 사본 제품
    predictions_bought = [algo.predict(str(userid), str(PRD)) for PRD in purchased_prds]
    
    # predictions list 객체는 predictions 객체를 원소로 갖고 있음
    # est 값으로 정렬 _ sortkey_est 함수 생성
    def sortkey_est(pred):
        return pred.est
    
# pred값을 내림 차순으로 정렬

## 1) 아직 안사본 제품
    predictions.sort(key = sortkey_est, reverse = True)
    # 상위 n개만 추출
    top_predictions = predictions[:top_n]
    
## 2) 이미 사본 제품
    predictions_bought.sort(key = sortkey_est, reverse = True)
    # 상위 n개만 추출
    top_predictions_bought = predictions_bought[:top_n]
    
# ! 최종 추출
# 상위 n 개의 제품 정보, 예측 지수
    
    # 1) 안사본 제품 
    top_prds = [pred.iid for pred in top_predictions] # 해당 제품
    top_prds_rating = [pred.est for pred in top_predictions] # 예측 지수
    
    # 2) 사본 제품
    top_prds_bought = [pred.iid for pred in top_predictions_bought] # 해당 제품
    top_prds_rating_bought = [pred.est for pred in top_predictions_bought] # 예측 지수
    
# *최종 값 형태 = 리스트 내 튜플 형태 (해당 제품, 예측 지수) ]
    top_prds_preds = [ ( id, rating) for id, rating in zip(top_prds, top_prds_rating)]
    top_prds_preds_bought = [ ( id, rating) for id, rating in zip(top_prds_bought, top_prds_rating_bought)]
    
    return top_prds_preds, top_prds_preds_bought

# 데이터프레임 불러오기
- 구매지수 R 데이터프레임 
- 고객번호와 군집 라벨 데이터프레임
- 카테고리 데이터프레임

In [32]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

surprise_df = pd.read_csv('surprise_data/surprise_dataset_1027.csv')
surprise_df.columns = ['CUSTNO', 'PRD', 'SCORE']
surprise_df.head()

   CUSTNO               PRD  SCORE
0       1          A_4대 B/D    0.0
1       1     A_5 ON THE GO    0.0
2       1  A_ACC Bloom (1F)    0.0
3       1  A_ACC Bloom (3F)    0.0
4       1            A_AK골프    0.0

In [33]:
# user_item_index_df
surprise_df.head()

   CUSTNO               PRD  SCORE
0       1          A_4대 B/D    0.0
1       1     A_5 ON THE GO    0.0
2       1  A_ACC Bloom (1F)    0.0
3       1  A_ACC Bloom (3F)    0.0
4       1            A_AK골프    0.0

In [34]:
final_cat = pd.read_csv('surprise_data/최종cat순서나열.csv', index_col=0)
final_cat.drop(columns=['대분류코드','QTY','구매금액_min','구매금액_max','구매금액_mean'], inplace=True)

In [35]:
# category_df
final_cat.head()

  제휴사 금액 타입 대분류명_y 중분류명    소분류명  UPRICE   AVG  AVGVS
0   B    저가     식품   버섯     건버섯    3017  7926    0.4
1   B    저가     식품   버섯   느타리버섯    3017  7926    0.4
2   B    저가     식품   버섯    버섯모둠    3017  7926    0.4
3   B    저가     식품   버섯  버섯선물세트    3017  7926    0.4
4   B    저가     식품   버섯   새송이버섯    3017  7926    0.4

In [41]:
# 특정 고객의 구매이력이 있는 추천리스트, 구매이력이 없는 추천리스트 딕셔너리 형태로 반환하는 함수 생성
# 입력값 (고객별 군집결과 데이터, 구매지수 데이터, 소분류명 정보_제휴사, 단가) 
# -> 반출값 : 1. 구매이력이 있는 추천리스트, 2. 구매이력이 없는 추천리스트
def dict_recommend_unrecommend(cluster_df, user_item_index_df, category_df, cluster_label): 
    
    # 반출할 빈 리스트 생성
    super_list = []
    super_list_bought = []

    # 군집 리스트
    cluster_list = list(cluster_df['cluster'].unique()) # 군집 종류
    
    
    for cluster in cluster_list[:1]:
       
        # 컴퓨터 성능 저하 문제로 임의로 cluster_label 변수를 만들어서 특정 군집 하나만 가지고 시도
        cust_index_list = list(cluster_df[cluster_df['cluster']==cluster_label].index) # 해당 군집에 있는 고객 번호 뽑기
        
        # 구매지수 데이터에서 해당하는 고객번호만 출력(새로운 데이터 생성)
        temp_df = user_item_index_df[user_item_index_df['CUSTNO'].isin(cust_index_list)] #isin(cust_index_list)]

        # 구매지수 최댓값, 최솟값 추출
        max_r = temp_df['SCORE'].max()
        min_r = temp_df['SCORE'].min()

        ## 서프라이즈 최적 파라미터  돌리기
        #best_params = find_best_params(temp_df,min_r,max_r)

         ## 서프라이즈 최적 파라미터로 모델 학습
        #algo = r_predict_df(temp_df, best_params,min_r,max_r)
        algo = r_predict_df(temp_df,min_r,max_r)

        
    # 고객별 추천 결과 받기 
# !--출력 값 (딕셔너리 형태)
        # 1) 안사본 물품
        recomm_dict = {} 
        # 2) 사본 물품
        recomm_dict_bought = {}
        
        for cust in cust_index_list:
            print("고객: ",cust)
            
            # 입력 (해당하는 군집에 있는 고객 데이터, 최적 파라미터로 모델, 고객, top) -> 추출 (안사본 물품 중 top, 구매한 물품 중 top)
            top_prd_preds, top_prd_preds_bought  = recomm_prd_by_surprise(temp_df, algo, cust, top_n=50)

            # 해당하는 고객의  입력 _(해당 제품, 구매지수) ex. {9_고객번호 : (양말_해당 제품이름, 0.5), (), () ......}
            
        # 1) 안사본 물품
            recomm_dict[cust] = [top_prd_preds[0]] # 첫번째 value 입력
            
            # 딕셔너리 차례로 담기
            for prd in top_prd_preds[1:]:
                if cust in recomm_dict:
                    recomm_dict[cust].append(prd)

        # 2) 이미 사본 제품
            recomm_dict_bought[cust] = [top_prd_preds_bought[0]]
            for prd in top_prd_preds_bought[1:]:
                if cust in recomm_dict_bought:
                    recomm_dict_bought[cust].append(prd)

# ! -- 최종 출력 값(리스트 형태) _ 군집별 고객별 제품 추천 딕셔너리
            super_list.append(recomm_dict)
            super_list_bought.append(recomm_dict_bought)
    print("super_list 완료")
    return super_list, super_list_bought

# 특정 고객의 추천 리스트 받기

In [59]:
# 고객 
def get_recommend_cust( cust, user_item_index_df, category_df,super_list):
    
#     super_list, super_list_bought = dict_recommend_unrecommend(df, user_item_index_df, category_df)
    
    dict_custs = super_list[0]
    df = pd.DataFrame(dict_custs[cust])
    df.columns = ['ITEM','RATING']
    df['ASSO'] = df['ITEM'].apply(lambda x: x[0])
    df['ITEM'] = df['ITEM'].apply(lambda x: x[2:])

    dff = df.merge(category_df, how='left', left_on=['ASSO','ITEM'], right_on=['제휴사', '소분류명'])
    
    dff_replace = dff[['제휴사', '대분류명_y', '중분류명', '소분류명', '금액 타입', 'RATING']]
    dff_replace.columns = ['제휴사', '대분류명', '중분류명', '추천 상품', '금액 타입', '예측 구매 지수']
    dff_replace.sort_values(by=['금액 타입', '예측 구매 지수'], ascending=False)
    
    cat_grouped = dff_replace.groupby('대분류명')
    
    cat_list = list(dff_replace['대분류명'].unique())
    
    print(f' ♣ {cust} 고객님만을 위한 추천 상품은: ', '\n')
    for cat in cat_list:
        print()
        print(f' {cat} 추천 제품 ▼')
        display(cat_grouped.get_group(cat))
        
def get_recommend_cust_bought( cust, user_item_index_df, category_df, super_list_bought):
    
#     super_list, super_list_bought = dict_recommend_unrecommend(df, user_item_index_df, category_df)
    dict_custs = super_list_bought[0]
    df = pd.DataFrame(dict_custs[cust])
    df.columns = ['ITEM','RATING']
    df['ASSO'] = df['ITEM'].apply(lambda x: x[0])
    df['ITEM'] = df['ITEM'].apply(lambda x: x[2:])

    dff = df.merge(category_df, how='left', left_on=['ASSO','ITEM'], right_on=['제휴사', '소분류명'])
    
    dff_replace = dff[['제휴사', '대분류명_y', '중분류명', '소분류명', '금액 타입', 'RATING']]
    dff_replace.columns = ['제휴사', '대분류명', '중분류명', '추천 상품', '금액 타입', '예측 구매 지수']
    
    cat_grouped = dff_replace.groupby('대분류명')
    
    cat_list = list(dff_replace['대분류명'].unique())
    
    print(f' ♣ {cust} 고객님이 선호하는 상품은: ', '\n')
    # 출력값
    for cat in cat_list:
        print()
        print(f' {cat}의 추천 제품 ▼')
        display(cat_grouped.get_group(cat))
        
    
# print('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   RECOMMENDED PRODUCTS    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>', '\n')
# get_recommend_cust(cust_df, 0,9538, final_cat)
# print('')
# print('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   PURCHSED RECOMMENDED PRODUCTS    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>', '\n')
# get_recommend_cust_bought(cust_df, 0,9538, final_cat)

# 값 출력해보기

In [38]:
cluster_df = pd.read_csv('생성데이터/5. 추천시스템/surprise_data/cust_clustering.csv', index_col = 0)

##  고객 속성 정보 및 과거 구매 내역 같이 출력

In [49]:
import pandas as pd
import numpy as np

# 필요한 파일 저장해둔 경로입니동
## personal_all_df: second_projects/생성데이터/5. 추천시스템/surprise_data/df_사용자_아이템_고객속성정보__정리.csv
## category_df : second_projects/생성데이터/5. 추천시스템/surprise_data/category_df(중복제거).csv
## 엥겔지수 및 총구매금액 파일

# 사용자마다 경로 새로지정해줘야 함~
personal_all_df = pd.read_csv('C:/cakd7/git/class/study/git_수업용/second_projects/생성데이터/5. 추천시스템/surprise_data/df_사용자_아이템_고객속성정보_정리.csv',index_col = 0)
category_df = pd.read_csv('C:/cakd7/git/class/study/git_수업용/second_projects/생성데이터/5. 추천시스템/surprise_data/category_df(중복제거).csv',index_col = 0)


def show_personal_purchase_df(personal_all_df, category_df, asso_type, cust_number):
    # 최대 행 길이 지정
    max_len = len(personal_all_df.loc[4].dropna())
    pd.set_option('display.max_rows', max_len)

    # 개인 구매 정보 
    personal_purchase = personal_all_df.loc[cust_number].dropna()

    ## -----------속성정보 데이터프레임 생성-----------
    personal_series = personal_purchase[:4]
    personal_df = pd.DataFrame(personal_series).transpose().reset_index().rename(columns={"index": "고객 ID"})
    personal_df['엥겔지수'] = personal_df['엥겔지수'].apply(lambda x: np.round(x, 2))
    personal_df['성별'] = personal_df['성별'].apply(lambda x: '남자' if x == 'M' else '여자')
    personal_df['총 구매금액'] = personal_df['총 구매금액'].apply(lambda x: f'{x:,.0f}원')
    personal_df['6-8분기 총 구매횟수'] = np.sum(personal_purchase[4:]).astype(int)
    personal_df['6-8분기 총 구매횟수'] = personal_df['6-8분기 총 구매횟수'].apply(lambda x: f'{x:,.0f}회')


    ## -----------구매이력 데이터프레임 생성-----------
    asso_values_list = [asso_values.split('_') for asso_values in personal_purchase[5:].index]
    p_purchase_df = pd.DataFrame(asso_values_list, columns = ['제휴사', '소분류명'])

    p_purchase_df['구매횟수'] = personal_purchase.iloc[5:].values.astype(int)
    ### 중분류 대분류 컬럼 생성
    for idx in range(len(p_purchase_df)):
        asso = p_purchase_df.loc[idx,'제휴사']
        scl = p_purchase_df.loc[idx,'소분류명']

        bcl = category_df.loc[(category_df['제휴사'] == asso) & (category_df['소분류명'] == scl), '대분류명_y'].values[0]
        mcl = category_df.loc[(category_df['제휴사'] == asso) & (category_df['소분류명'] == scl), '중분류명'].values[0]
        p_purchase_df.loc[idx, '대분류명'] = bcl
        p_purchase_df.loc[idx, '중분류명'] = mcl

    ### 정렬: 구매횟수 제외하고 다 오름차순
    p_purchase_df = p_purchase_df[['제휴사','대분류명','중분류명','소분류명','구매횟수']]
    p_purchase_df = p_purchase_df.sort_values(['제휴사' ,'대분류명','중분류명','구매횟수'],
                                              ignore_index = True,
                                              ascending = [True, True, True, False])
    
    return personal_df, p_purchase_df[p_purchase_df['제휴사'] == asso_type]

# 시연

### 입력값(특정 군집 라벨, 해당 군집 내 고객 번호) 받기 
> 시연에서는 Cluster 5 번만을 보여주고 있습니다.

In [40]:
cluster_label = 4  # Cluster 5 이지만 index는 4
super_list, super_list_bought = dict_recommend_unrecommend(cluster_df, surprise_df, final_cat, cluster_label )

[4, 1, 0, 3, 2]
해당 군집에 들어있는 첫 고객 10명:  [6, 12, 19, 22, 25, 27, 30, 31, 35, 39, 40]
-------------학습 완료-------------------
고객:  6
고객:  12
고객:  19
고객:  22
고객:  25
고객:  27
고객:  30
고객:  31
고객:  35
고객:  39
고객:  40
고객:  41
고객:  59
고객:  76
고객:  78
고객:  80
고객:  85
고객:  106
고객:  108
고객:  121
고객:  154
고객:  178
고객:  179
고객:  180
고객:  187
고객:  192
고객:  204
고객:  211
고객:  214
고객:  230
고객:  233
고객:  240
고객:  277
고객:  284
고객:  286
고객:  301
고객:  303
고객:  333
고객:  336
고객:  346
고객:  350
고객:  375
고객:  392
고객:  394
고객:  396
고객:  419
고객:  429
고객:  435
고객:  455
고객:  467
고객:  483
고객:  490
고객:  506
고객:  514
고객:  540
고객:  552
고객:  558
고객:  578
고객:  589
고객:  590
고객:  598
고객:  611
고객:  625
고객:  636
고객:  649
고객:  651
고객:  677
고객:  698
고객:  707
고객:  712
고객:  729
고객:  737
고객:  768
고객:  775
고객:  785
고객:  808
고객:  840
고객:  854
고객:  889
고객:  898
고객:  901
고객:  920
고객:  948
고객:  950
고객:  967
고객:  984
고객:  989
고객:  1015
고객:  1030
고객:  1036
고객:  1074
고객:  1097
고객:  1100
고객:  1135
고객:  1146
고객:  1158
고객:  1165
고객:  1191
고객:  1196
고객:  1213
고객:  1215
고객:  1235
고객:  1297
고객:  1315
고객:  1325
고객:  1329
고객:  1353
고객:  1358
고객:  1361
고객:  1370
고객:  1395
고객:  1399
고객:  1419
고객:  1431
고객:  1436
고객:  1439
고객:  1447
고객:  1454
고객:  1481
고객:  1487
고객:  1488
고객:  1489
고객:  1505
고객:  1527
고객:  1547
고객:  1552
고객:  1570
고객:  1571
고객:  1581
고객:  1583
고객:  1614
고객:  1621
고객:  1625
고객:  1629
고객:  1658
고객:  1705
고객:  1714
고객:  1726
고객:  1747
고객:  1759
고객:  1768
고객:  1769
고객:  1770
고객:  1789
고객:  1793
고객:  1817
고객:  1856
고객:  1863
고객:  1866
고객:  1871
고객:  1886
고객:  1892
고객:  1923
고객:  1943
고객:  1967
고객:  1969
고객:  1978
고객:  1995
고객:  1999
고객:  2012
고객:  2018
고객:  2067
고객:  2076
고객:  2107
고객:  2115
고객:  2130
고객:  2131
고객:  2133
고객:  2137
고객:  2157
고객:  2161
고객:  2175
고객:  2181
고객:  2189
고객:  2197
고객:  2211
고객:  2231
고객:  2236
고객:  2243
고객:  2260
고객:  2289
고객:  2320
고객:  2332
고객:  2335
고객:  2350
고객:  2369
고객:  2372
고객:  2375
고객:  2386
고객:  2400
고객:  2401
고객:  2431
고객:  2463
고객:  2482
고객:  2490
고객:  2553
고객:  2558
고객:  2583
고객:  2607
고객:  2631
고객:  2652
고객:  2654
고객:  2660
고객:  2664
고객:  2669
고객:  2678
고객:  2696
고객:  2698
고객:  2710
고객:  2715
고객:  2718
고객:  2722
고객:  2724
고객:  2731
고객:  2740
고객:  2746
고객:  2768
고객:  2780
고객:  2823
고객:  2838
고객:  2857
고객:  2860
고객:  2864
고객:  2888
고객:  2906
고객:  2910
고객:  2925
고객:  2927
고객:  2928
고객:  2933
고객:  2940
고객:  2951
고객:  2958
고객:  2966
고객:  2968
고객:  2975
고객:  3017
고객:  3018
고객:  3031
고객:  3034
고객:  3043
고객:  3050
고객:  3059
고객:  3077
고객:  3080
고객:  3094
고객:  3104
고객:  3110
고객:  3116
고객:  3117
고객:  3120
고객:  3123
고객:  3124
고객:  3126
고객:  3138
고객:  3145
고객:  3156
고객:  3197
고객:  3199
고객:  3203
고객:  3215
고객:  3218
고객:  3221
고객:  3228
고객:  3244
고객:  3260
고객:  3280
고객:  3310
고객:  3324
고객:  3331
고객:  3343
고객:  3344
고객:  3364
고객:  3369
고객:  3378
고객:  3393
고객:  3403
고객:  3408
고객:  3414
고객:  3422
고객:  3432
고객:  3433
고객:  3436
고객:  3445
고객:  3461
고객:  3474
고객:  3492
고객:  3519
고객:  3532
고객:  3539
고객:  3553
고객:  3568
고객:  3570
고객:  3575
고객:  3607
고객:  3622
고객:  3623
고객:  3652
고객:  3666
고객:  3670
고객:  3675
고객:  3677
고객:  3689
고객:  3700
고객:  3738
고객:  3762
고객:  3769
고객:  3770
고객:  3777
고객:  3805
고객:  3806
고객:  3809
고객:  3817
고객:  3824
고객:  3846
고객:  3859
고객:  3878
고객:  3883
고객:  3886
고객:  3901
고객:  3909
고객:  3918
고객:  3920
고객:  3931
고객:  3942
고객:  3957
고객:  3974
고객:  3980
고객:  3992
고객:  3996
고객:  3999
고객:  4000
고객:  4002
고객:  4042
고객:  4046
고객:  4082
고객:  4085
고객:  4093
고객:  4106
고객:  4127
고객:  4128
고객:  4150
고객:  4157
고객:  4165
고객:  4171
고객:  4172
고객:  4177
고객:  4181
고객:  4190
고객:  4209
고객:  4214
고객:  4220
고객:  4229
고객:  4231
고객:  4263
고객:  4268
고객:  4272
고객:  4275
고객:  4294
고객:  4299
고객:  4315
고객:  4319
고객:  4331
고객:  4347
고객:  4364
고객:  4378
고객:  4416
고객:  4436
고객:  4456
고객:  4469
고객:  4483
고객:  4488
고객:  4495
고객:  4504
고객:  4520
고객:  4535
고객:  4539
고객:  4573
고객:  4580
고객:  4586
고객:  4591
고객:  4603
고객:  4632
고객:  4648
고객:  4654
고객:  4668
고객:  4672
고객:  4674
고객:  4686
고객:  4693
고객:  4694
고객:  4719
고객:  4751
고객:  4761
고객:  4763
고객:  4764
고객:  4789
고객:  4815
고객:  4864
고객:  4870
고객:  4874
고객:  4882
고객:  4888
고객:  4903
고객:  4904
고객:  4906
고객:  4935
고객:  4938
고객:  4943
고객:  4950
고객:  4958
고객:  4982
고객:  4985
고객:  5004
고객:  5008
고객:  5011
고객:  5031
고객:  5040
고객:  5068
고객:  5073
고객:  5083
고객:  5092
고객:  5103
고객:  5106
고객:  5133
고객:  5151
고객:  5168
고객:  5171
고객:  5182
고객:  5189
고객:  5194
고객:  5216
고객:  5262
고객:  5266
고객:  5274
고객:  5280
고객:  5282
고객:  5283
고객:  5292
고객:  5295
고객:  5296
고객:  5304
고객:  5311
고객:  5314
고객:  5338
고객:  5340
고객:  5342
고객:  5347
고객:  5352
고객:  5368
고객:  5373
고객:  5377
고객:  5384
고객:  5398
고객:  5402
고객:  5426
고객:  5433
고객:  5435
고객:  5443
고객:  5461
고객:  5478
고객:  5490
고객:  5497
고객:  5512
고객:  5520
고객:  5526
고객:  5541
고객:  5563
고객:  5568
고객:  5574
고객:  5593
고객:  5612
고객:  5615
고객:  5622
고객:  5627
고객:  5632
고객:  5648
고객:  5654
고객:  5655
고객:  5667
고객:  5702
고객:  5712
고객:  5713
고객:  5722
고객:  5746
고객:  5753
고객:  5759
고객:  5760
고객:  5773
고객:  5781
고객:  5797
고객:  5801
고객:  5831
고객:  5833
고객:  5845
고객:  5848
고객:  5859
고객:  5863
고객:  5876
고객:  5888
고객:  5904
고객:  5966
고객:  5978
고객:  5999
고객:  6003
고객:  6008
고객:  6041
고객:  6094
고객:  6134
고객:  6150
고객:  6158
고객:  6164
고객:  6171
고객:  6173
고객:  6177
고객:  6179
고객:  6193
고객:  6210
고객:  6220
고객:  6226
고객:  6227
고객:  6239
고객:  6243
고객:  6245
고객:  6257
고객:  6269
고객:  6293
고객:  6302
고객:  6307
고객:  6315
고객:  6343
고객:  6347
고객:  6354
고객:  6365
고객:  6368
고객:  6370
고객:  6402
고객:  6407
고객:  6429
고객:  6436
고객:  6468
고객:  6482
고객:  6498
고객:  6499
고객:  6525
고객:  6529
고객:  6533
고객:  6538
고객:  6557
고객:  6564
고객:  6566
고객:  6572
고객:  6584
고객:  6596
고객:  6601
고객:  6620
고객:  6624
고객:  6631
고객:  6652
고객:  6662
고객:  6663
고객:  6665
고객:  6671
고객:  6677
고객:  6685
고객:  6687
고객:  6689
고객:  6723
고객:  6738
고객:  6759
고객:  6763
고객:  6783
고객:  6796
고객:  6802
고객:  6825
고객:  6835
고객:  6841
고객:  6855
고객:  6857
고객:  6870
고객:  6877
고객:  6895
고객:  6922
고객:  6935
고객:  6938
고객:  6954
고객:  6957
고객:  6965
고객:  6967
고객:  6970
고객:  6987
고객:  6993
고객:  7006
고객:  7015
고객:  7018
고객:  7021
고객:  7030
고객:  7031
고객:  7037
고객:  7064
고객:  7065
고객:  7066
고객:  7071
고객:  7094
고객:  7117
고객:  7118
고객:  7153
고객:  7177
고객:  7181
고객:  7183
고객:  7241
고객:  7245
고객:  7261
고객:  7288
고객:  7304
고객:  7330
고객:  7342
고객:  7359
고객:  7381
고객:  7390
고객:  7394
고객:  7407
고객:  7429
고객:  7444
고객:  7460
고객:  7466
고객:  7473
고객:  7482
고객:  7495
고객:  7498
고객:  7510
고객:  7537
고객:  7546
고객:  7547
고객:  7550
고객:  7566
고객:  7581
고객:  7598
고객:  7605
고객:  7609
고객:  7611
고객:  7613
고객:  7616
고객:  7622
고객:  7626
고객:  7627
고객:  7654
고객:  7669
고객:  7678
고객:  7724
고객:  7738
고객:  7747
고객:  7748
고객:  7764
고객:  7772
고객:  7776
고객:  7781
고객:  7784
고객:  7804
고객:  7822
고객:  7846
고객:  7860
고객:  7864
고객:  7874
고객:  7885
고객:  7899
고객:  7917
고객:  7920
고객:  7921
고객:  7992
고객:  7999
고객:  8031
고객:  8032
고객:  8041
고객:  8060
고객:  8077
고객:  8096
고객:  8100
고객:  8104
고객:  8120
고객:  8135
고객:  8141
고객:  8151
고객:  8173
고객:  8198
고객:  8227
고객:  8239
고객:  8248
고객:  8262
고객:  8264
고객:  8269
고객:  8290
고객:  8292
고객:  8295
고객:  8298
고객:  8300
고객:  8316
고객:  8322
고객:  8334
고객:  8374
고객:  8381
고객:  8383
고객:  8413
고객:  8426
고객:  8430
고객:  8433
고객:  8458
고객:  8468
고객:  8500
고객:  8505
고객:  8522
고객:  8546
고객:  8551
고객:  8565
고객:  8572
고객:  8604
고객:  8608
고객:  8640
고객:  8651
고객:  8657
고객:  8666
고객:  8668
고객:  8679
고객:  8683
고객:  8689
고객:  8735
고객:  8770
고객:  8801
고객:  8804
고객:  8835
고객:  8842
고객:  8847
고객:  8875
고객:  8911
고객:  8915
고객:  8927
고객:  8934
고객:  8944
고객:  8959
고객:  8960
고객:  8998
고객:  9000
고객:  9009
고객:  9016
고객:  9054
고객:  9061
고객:  9104
고객:  9115
고객:  9129
고객:  9138
고객:  9140
고객:  9166
고객:  9171
고객:  9172
고객:  9184
고객:  9212
고객:  9221
고객:  9277
고객:  9279
고객:  9286
고객:  9292
고객:  9314
고객:  9379
고객:  9391
고객:  9392
고객:  9394
고객:  9400
고객:  9409
고객:  9415
고객:  9417
고객:  9456
고객:  9507
고객:  9509
고객:  9510
고객:  9519
고객:  9527
고객:  9528
고객:  9529
고객:  9530
고객:  9543
고객:  9547
고객:  9554
고객:  9568
고객:  9572
고객:  9578
고객:  9581
고객:  9586
고객:  9614
고객:  9619
고객:  9622
고객:  9624
고객:  9637
고객:  9667
고객:  9688
고객:  9697
고객:  9710
고객:  9717
고객:  9721
고객:  9727
고객:  9729
고객:  9734
고객:  9739
고객:  9750
고객:  9751
고객:  9764
고객:  9768
고객:  9772
고객:  9773
고객:  9779
고객:  9795
고객:  9804
고객:  9808
고객:  9809
고객:  9812
고객:  9824
고객:  9832
고객:  9834
고객:  9844

고객:  9845
고객:  9852
고객:  9853
고객:  9854
고객:  9864
고객:  9876
고객:  9896
고객:  9897
고객:  9902
고객:  9904
고객:  9906
고객:  9908
고객:  9909
고객:  9918
고객:  9921
고객:  9923
고객:  9927
고객:  9938
고객:  9951
고객:  10002
고객:  10052
고객:  10064
고객:  10091
고객:  10101
고객:  10135
고객:  10155
고객:  10173
고객:  10181
고객:  10193
고객:  10197
고객:  10227
고객:  10249
고객:  10254
고객:  10255
고객:  10269
고객:  10324
고객:  10329
고객:  10333
고객:  10341
고객:  10357
고객:  10370
고객:  10380
고객:  10389
고객:  10393
고객:  10424
고객:  10434
고객:  10486
고객:  10501
고객:  10533
고객:  10539
고객:  10571
고객:  10584
고객:  10592
고객:  10621
고객:  10660
고객:  10666
고객:  10673
고객:  10684
고객:  10756
고객:  10810
고객:  10832
고객:  10844
고객:  10866
고객:  10867
고객:  10868
고객:  10881
고객:  10884
고객:  10904
고객:  10906
고객:  10913
고객:  10920
고객:  10927
고객:  10937
고객:  10950
고객:  10968
고객:  10975
고객:  10989
고객:  11007
고객:  11014
고객:  11029
고객:  11040
고객:  11075
고객:  11079
고객:  11094
고객:  11110
고객:  11118
고객:  11131
고객:  11138
고객:  11142
고객:  11152
고객:  11164
고객:  11176
고객:  11178
고객:  11183
고객:  11192
고객:  11209
고객:  11229
고객:  11258
고객:  11282
고객:  11296
고객:  11336
고객:  11367
고객:  11378
고객:  11379
고객:  11431
고객:  11465
고객:  11467
고객:  11478
고객:  11486
고객:  11501
고객:  11504
고객:  11516
고객:  11567
고객:  11593
고객:  11606
고객:  11615
고객:  11621
고객:  11648
고객:  11697
고객:  11732
고객:  11742
고객:  11779
고객:  11798
고객:  11800
고객:  11812
고객:  11832
고객:  11849
고객:  11851
고객:  11859
고객:  11861
고객:  11862
고객:  11882
고객:  11884
고객:  11893
고객:  11897
고객:  11901
고객:  11909
고객:  11929
고객:  11933
고객:  11937
고객:  11940
고객:  11941
고객:  11971
고객:  12007
고객:  12010
고객:  12019
고객:  12044
고객:  12069
고객:  12071
고객:  12090
고객:  12095
고객:  12110
고객:  12118
고객:  12120
고객:  12130
고객:  12142
고객:  12146
고객:  12171
고객:  12173
고객:  12192
고객:  12224
고객:  12247
고객:  12252
고객:  12270
고객:  12282
고객:  12302
고객:  12341
고객:  12353
고객:  12358
고객:  12376
고객:  12377
고객:  12386
고객:  12401
고객:  12415
고객:  12418
고객:  12449
고객:  12451
고객:  12471
고객:  12473
고객:  12476
고객:  12482
고객:  12490
고객:  12521
고객:  12531
고객:  12538
고객:  12546
고객:  12547
고객:  12550
고객:  12586
고객:  12601
고객:  12639
고객:  12668
고객:  12672
고객:  12690
고객:  12696
고객:  12705
고객:  12713
고객:  12718
고객:  12723
고객:  12725
고객:  12739
고객:  12761
고객:  12765
고객:  12794
고객:  12806
고객:  12833
고객:  12842
고객:  12848
고객:  12859
고객:  12887
고객:  12915
고객:  12920
고객:  12954
고객:  12961
고객:  12966
고객:  12980
고객:  13025
고객:  13026
고객:  13031
고객:  13032
고객:  13034
고객:  13036
고객:  13042
고객:  13053
고객:  13054
고객:  13058
고객:  13070
고객:  13071
고객:  13072
고객:  13073
고객:  13157
고객:  13188
고객:  13189
고객:  13203
고객:  13228
고객:  13231
고객:  13233
고객:  13245
고객:  13302
고객:  13317
고객:  13327
고객:  13354
고객:  13364
고객:  13367
고객:  13370
고객:  13377
고객:  13380
고객:  13382
고객:  13398
고객:  13425
고객:  13434
고객:  13436
고객:  13438
고객:  13493
고객:  13498
고객:  13503
고객:  13510
고객:  13529
고객:  13555
고객:  13570
고객:  13583
고객:  13591
고객:  13632
고객:  13635
고객:  13639
고객:  13656
고객:  13678
고객:  13711
고객:  13725
고객:  13728
고객:  13736
고객:  13739
고객:  13742
고객:  13744
고객:  13755
고객:  13758
고객:  13766
고객:  13781
고객:  13785
고객:  13790
고객:  13810
고객:  13825
고객:  13837
고객:  13841
고객:  13847
고객:  13854
고객:  13866
고객:  13868
고객:  13890
고객:  13900
고객:  13918
고객:  13929
고객:  13953
고객:  13973
고객:  13982
고객:  13985
고객:  13995
고객:  14053
고객:  14068
고객:  14076
고객:  14081
고객:  14094
고객:  14107
고객:  14112
고객:  14114
고객:  14119
고객:  14130
고객:  14133
고객:  14143
고객:  14150
고객:  14160
고객:  14174
고객:  14175
고객:  14182
고객:  14197
고객:  14207
고객:  14223
고객:  14224
고객:  14255
고객:  14256
고객:  14265
고객:  14299
고객:  14306
고객:  14336
고객:  14339
고객:  14384
고객:  14424
고객:  14434
고객:  14439
고객:  14444
고객:  14502
고객:  14511
고객:  14512
고객:  14515
고객:  14527
고객:  14534
고객:  14538
고객:  14546
고객:  14573
고객:  14582
고객:  14590
고객:  14593
고객:  14595
고객:  14603
고객:  14620
고객:  14640
고객:  14657
고객:  14670
고객:  14675
고객:  14677
고객:  14691
고객:  14708
고객:  14713
고객:  14750
고객:  14755
고객:  14762
고객:  14772
고객:  14775
고객:  14781
고객:  14804
고객:  14806
고객:  14826
고객:  14833
고객:  14835
고객:  14871
고객:  14889
고객:  14917
고객:  14936
고객:  14940
고객:  14946
고객:  14953
고객:  14954
고객:  14958
고객:  14967
고객:  14977
고객:  15005
고객:  15009
고객:  15013
고객:  15015
고객:  15035
고객:  15044
고객:  15107
고객:  15131
고객:  15159
고객:  15165
고객:  15178
고객:  15193
고객:  15204
고객:  15216
고객:  15255
고객:  15291
고객:  15301
고객:  15322
고객:  15336
고객:  15337
고객:  15355
고객:  15356
고객:  15383
고객:  15412
고객:  15419
고객:  15422
고객:  15427
고객:  15448
고객:  15469
고객:  15485
고객:  15494
고객:  15496
고객:  15522
고객:  15533
고객:  15534
고객:  15537
고객:  15545
고객:  15551
고객:  15578
고객:  15607
고객:  15651
고객:  15673
고객:  15676
고객:  15698
고객:  15701
고객:  15711
고객:  15757
고객:  15758
고객:  15767
고객:  15786
고객:  15790
고객:  15797
고객:  15815
고객:  15847
고객:  15862
고객:  15884
고객:  15888
고객:  15891
고객:  15905
고객:  15906
고객:  15921
고객:  15925
고객:  15927
고객:  15931
고객:  15935
고객:  15967
고객:  15972
고객:  15989
고객:  16039
고객:  16071
고객:  16076
고객:  16088
고객:  16090
고객:  16098
고객:  16130
고객:  16139
고객:  16169
고객:  16175
고객:  16190
고객:  16195
고객:  16207
고객:  16209
고객:  16217
고객:  16223
고객:  16257
고객:  16270
고객:  16283
고객:  16299
고객:  16302
고객:  16304
고객:  16327
고객:  16355
고객:  16361
고객:  16379
고객:  16405
고객:  16406
고객:  16413
고객:  16415
고객:  16424
고객:  16430
고객:  16440
고객:  16458
고객:  16465
고객:  16491
고객:  16539
고객:  16543
고객:  16550
고객:  16591
고객:  16619
고객:  16624
고객:  16628
고객:  16630
고객:  16678
고객:  16681
고객:  16699
고객:  16703
고객:  16724
고객:  16731
고객:  16761
고객:  16762
고객:  16785
고객:  16788
고객:  16790
고객:  16798
고객:  16819
고객:  16829
고객:  16833
고객:  16836
고객:  16844
고객:  16847
고객:  16851
고객:  16884
고객:  16886
고객:  16896
고객:  16908
고객:  16944
고객:  16976
고객:  16988
고객:  16993
고객:  17015
고객:  17046
고객:  17056
고객:  17061
고객:  17064
고객:  17085
고객:  17112
고객:  17131
고객:  17168
고객:  17242
고객:  17251
고객:  17276
고객:  17285
고객:  17293
고객:  17309
고객:  17310
고객:  17324
고객:  17327
고객:  17334
고객:  17360
고객:  17362
고객:  17380
고객:  17386
고객:  17409
고객:  17434
고객:  17490
고객:  17502
고객:  17512
고객:  17514
고객:  17528
고객:  17543
고객:  17558
고객:  17570
고객:  17585
고객:  17603
고객:  17615
고객:  17616
고객:  17631
고객:  17632
고객:  17640
고객:  17653
고객:  17670
고객:  17677
고객:  17686
고객:  17787
고객:  17808
고객:  17855
고객:  17894
고객:  17910
고객:  17927
고객:  17932
고객:  17950
고객:  17959
고객:  17996
고객:  18050
고객:  18058
고객:  18074
고객:  18097
고객:  18109
고객:  18129
고객:  18137
고객:  18141
고객:  18154
고객:  18155
고객:  18156
고객:  18163
고객:  18190
고객:  18196
고객:  18203
고객:  18212
고객:  18244
고객:  18251
고객:  18260
고객:  18278
고객:  18285
고객:  18295
고객:  18303
고객:  18325
고객:  18342
고객:  18343
고객:  18362
고객:  18365
고객:  18367
고객:  18369
고객:  18373
고객:  18392
고객:  18421
고객:  18422
고객:  18426
고객:  18428
고객:  18438
고객:  18445
고객:  18450
고객:  18470
고객:  18476
고객:  18487
고객:  18488
고객:  18489
고객:  18507
고객:  18508
고객:  18531
고객:  18545
고객:  18599
고객:  18603
고객:  18622
고객:  18623
고객:  18646
고객:  18657
고객:  18658
고객:  18668
고객:  18678
고객:  18680
고객:  18684
고객:  18689
고객:  18691
고객:  18711
고객:  18715
고객:  18716
고객:  18719
고객:  18723
고객:  18727
고객:  18744
고객:  18759
고객:  18760
고객:  18771
고객:  18786
고객:  18816
고객:  18832
고객:  18866
고객:  18889
고객:  18902
고객:  18910
고객:  18930
고객:  18936
고객:  18950
고객:  18958
고객:  18987
고객:  18989
고객:  19000
고객:  19009
고객:  19038
고객:  19056
고객:  19060
고객:  19072
고객:  19092
고객:  19102
고객:  19122
고객:  19123
고객:  19147
고객:  19172
고객:  19185
고객:  19191
고객:  19192
고객:  19198
고객:  19206
고객:  19242
고객:  19246
고객:  19249
고객:  19267
고객:  19277
고객:  19305
고객:  19318
고객:  19328
super_list 완료

> Cluster 5내에 있는 고객 번호는 위와 같으며 아래에, 고객번호를 입력하여 해당 고객을 위한 추천 결과를 확인할 수 있습니다.

> Cluster 5의 특성을 바탕으로 하여 식품과 생활 고가 상품들을 앞서 보여줍니다.

In [60]:
cust_num = 392 # 고객번호

personal_df, p_purchase_df = show_personal_purchase_df(personal_all_df, category_df, 'A', cust_num)

print(f'안녕하세요, {cust_num} 고객님!  고객님의 개인정보와 과거 구매 정보는 :')
display(personal_df)
print('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   고객님의 과거 A사 구매내역  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>', '\n')
display(p_purchase_df.sort_values(by='구매횟수', ascending=False))
print('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   RECOMMEND PRODUCTS    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>', '\n')
get_recommend_cust( cust_num, surprise_df, final_cat, super_list)
print('')
print('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   PURCHSED RECOMMEND PRODUCTS    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>', '\n')
get_recommend_cust_bought(cust_num, surprise_df, final_cat,super_list_bought)

안녕하세요, 392 고객님!  고객님의 개인정보와 과거 구매 정보는 :

   고객 ID  성별    연령대   엥겔지수      총 구매금액 6-8분기 총 구매횟수
0    392  여자  60세이상  29.22  7,041,686원         822회

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   고객님의 과거 A사 구매내역  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

   제휴사  대분류명    중분류명       소분류명  구매횟수
7    A    식품    가공식품     스넥(부대)   256
8    A    식품    가공식품     전문베이커리    51
9    A    식품    가공식품       제과제빵    19
22   A    식품     농산물       농산가공    14
37   A    잡화    일용잡화       위생세제     9
1    A  레저취미     스포츠        몬츄라     8
10   A    식품    가공식품         포숑     7
35   A   이미용     화장품     색조 화장품     7
11   A    식품    가공식품       한식델리     5
12   A    식품    가공식품       브랜드샵     4
13   A    식품    가공식품        커피숍     4
2    A  레저취미     스포츠      노스페이스     4
14   A    식품    가공식품     식당가 한식     3
15   A    식품    가공식품       일식델리     3
16   A    식품    가공식품      특산물행사     3
3    A  레저취미     스포츠   직수입 아웃도어     3
31   A    식품    축산가공        유제품     3
28   A    식품   젓갈/반찬         어묵     3
17   A    식품    가공식품      에스닉푸드     2
34   A    의류     캐주얼      영스트리트     1
36   A   이미용     화장품     기초 화장품     1
27   A    식품      육류        양념육     1
33   A    의류  란제리/내의        란제리     1
32   A    의류   남성캐주얼  OUTDOOR+1     1
30   A    식품    차/커피       디저트류     1
29   A    식품   젓갈/반찬       가공행사     1
0    A  레저취미    골프용품       골프용품     1
26   A    식품     수산품     수산단기행사     1
25   A    식품     농산물         청과     1
24   A    식품     농산물         채소     1
23   A    식품     농산물      유기농채소     1
21   A    식품    건강식품  건강식품(비타민)     1
20   A    식품    건강식품       건강식품     1
18   A    식품    가공식품         면류     1
6    A  레저취미     스포츠     아디다스의류     1
5    A  레저취미     스포츠      스포츠의류     1
4    A  레저취미     스포츠      나이키의류     1
19   A    식품    가공식품       서양델리     1

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   RECOMMEND PRODUCTS    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

 ♣ 392 고객님만을 위한 추천 상품은:


 식품 추천 제품 ▼

   제휴사 대분류명   중분류명     추천 상품 금액 타입  예측 구매 지수
0    A   식품     육류        우육    고가  0.025891
1    A   식품    농산물     유기농채소    중가  0.024106
2    A   식품    농산물        채소    중가  0.023931
3    A   식품   가공식품        음료    중가  0.021580
4    A   식품     주류        음료    고가  0.021580
5    A   식품    수산품        생선    고가  0.020412
6    A   식품   가공식품    일반가공식품    중가  0.019461
7    A   식품     육류        돈육    고가  0.018647
12   A   식품   차/커피      수입식품    중가  0.016245
13   A   식품   건강식품  건강식품(홍삼)    고가  0.015660
14   A   식품   가공식품      서양델리    중가  0.013288
15   A   식품   가공식품    식당가 한식    중가  0.012185
17   B   식품    주유소       주유소    고가  0.011382
18   A   식품     주류        주류    고가  0.010991
19   A   식품   차/커피      원두커피    중가  0.010942
20   A   식품   가공식품  지방스넥(부대)    중가  0.010426
22   A   식품   건강식품      건강식품    고가  0.009676
24   A   식품   가공식품        밥류    중가  0.006901
26   A   식품   가공식품     아이스크림    중가  0.006605
27   A   식품   가공식품      브랑제리    중가  0.006538
28   A   식품    수산품       멸치류    고가  0.006449
29   A   식품   가공식품        초밥    중가  0.005656
30   A   식품   가공식품      양과자류    중가  0.005517
31   A   식품  젓갈/반찬      즉석반찬    중가  0.005507
34   A   식품     육류        계육    고가  0.005322
36   A   식품    수산품      냉동식품    고가  0.005179
38   A   식품    수산품        김류    고가  0.004891
44   A   식품   가공식품       케익류    중가  0.003888
45   A   식품   가공식품      중식델리    중가  0.003803
48   A   식품    농산물        건과    중가  0.003770
49   A   식품     주류        한차    고가  0.003742

 생활 추천 제품 ▼

   제휴사 대분류명  중분류명 추천 상품 금액 타입  예측 구매 지수
8    A   생활  생활잡화  단기행사    고가  0.016865
16   A   생활  생활잡화  욕실용품    고가  0.011674
25   A   생활  생활잡화    타월    고가  0.006664
52   A   생활  생활잡화  소품가구    고가  0.003656

 의류 추천 제품 ▼

   제휴사 대분류명    중분류명       추천 상품 금액 타입  예측 구매 지수
9    A   의류  남성 트랜디        단기행사    중가  0.016865
21   A   의류     캐주얼  global SPA    중가  0.010227
37   A   의류  란제리/내의        패션내의    고가  0.005148
39   A   의류     캐주얼       이지캐주얼    중가  0.004792
42   A   의류     커리어         커리어    중가  0.004527
43   A   의류     캐주얼       영 캐릭터    중가  0.004100
46   A   의류     캐주얼        스트리트    중가  0.003787

 잡화 추천 제품 ▼

   제휴사 대분류명  중분류명 추천 상품 금액 타입  예측 구매 지수
10   A   잡화  일용잡화  단기행사    저가  0.016865
11   A   잡화  피혁잡화  단기행사    중가  0.016865
35   A   잡화    명품  수입잡화    고가  0.005222
47   A   잡화  피혁잡화   네셔널    중가  0.003771

 레저취미 추천 제품 ▼

   제휴사  대분류명 중분류명  추천 상품 금액 타입  예측 구매 지수
23   A  레저취미  스포츠  스포츠의류    중가  0.007457
54   A  레저취미  스포츠   스포츠화    중가  0.003549

 이미용 추천 제품 ▼

   제휴사 대분류명   중분류명  추천 상품 금액 타입  예측 구매 지수
32   A  이미용    화장품    기초A    고가  0.005459
40   B  이미용  기초화장품  일반화장품    저가  0.004600

 주방 추천 제품 ▼

   제휴사 대분류명  중분류명   추천 상품 금액 타입  예측 구매 지수
33   A   주방  주방가전  수입소형가전    고가  0.005346
41   A   주방  주방가전   에스프레소    고가  0.004548

 교육문화 추천 제품 ▼

   제휴사  대분류명    중분류명 추천 상품 금액 타입  예측 구매 지수
50   B  교육문화      남아  액션피겨    중가  0.003728
51   B  교육문화  BOYS 1  액션피겨    고가  0.003728
53   A  교육문화   문구/팬시    서적    중가  0.003625

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   PURCHSED RECOMMEND PRODUCTS    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

 ♣ 392 고객님이 선호하는 상품은:


 식품의 추천 제품 ▼

   제휴사 대분류명    중분류명       추천 상품 금액 타입  예측 구매 지수
0    A   식품    건강식품   건강식품(비타민)    고가  0.053270
2    A   식품     농산물          청과    중가  0.026800
3    A   식품     농산물        농산가공    중가  0.024518
4    A   식품    가공식품      전문베이커리    중가  0.021353
5    A   식품    가공식품        일식델리    중가  0.019213
6    A   식품    축산가공         유제품    중가  0.016508
7    A   식품    가공식품        한식델리    중가  0.016041
8    A   식품      육류         양념육    고가  0.015913
10   A   식품    가공식품        브랜드샵    중가  0.012341
11   A   식품    가공식품        제과제빵    중가  0.009481
12   A   식품    차/커피        디저트류    중가  0.008019
13   A   식품    가공식품       에스닉푸드    중가  0.008009
14   A   식품    가공식품      스넥(부대)    중가  0.006969
15   A   식품   젓갈/반찬          어묵    중가  0.005846
16   A   식품    가공식품         커피숍    중가  0.004572
20   A   식품     수산품      수산단기행사    고가  0.002725
21   A   식품    가공식품          면류    중가  0.002611
22   C   식품     계란류        일반계란    중가  0.002109
23   C   식품    수입과일         바나나    중가  0.001528
26   B   식품    일반한우        한우정육    고가  0.001082
27   B   식품      간식         떡볶이    중가  0.001042
28   C   식품     두채류         두부류    저가  0.001027
29   B   식품      맥주        수입맥주    중가  0.000858
30   B   식품     흰우유       기능성우유    중가  0.000819
31   B   식품    요구르트  어린이/액상요구르트    중가  0.000732
32   B   식품  호주산소고기     호주산곡물비육    고가  0.000730
33   B   식품     토마토       방울토마토    중가  0.000687
34   B   식품    열매채소          고추    저가  0.000674
35   B   식품    열매채소          고추    저가  0.000674
36   C   식품      우유       기능성우유    저가  0.000666
37   B   식품    과채과일          딸기    중가  0.000651
38   B   식품      딸기          딸기    중가  0.000651
39   C   식품    국산과일          귤류    중가  0.000631
40   C   식품      담배        국산담배    중가  0.000567
42   C   식품    국산과일         복숭아    중가  0.000546
44   B   식품      치즈       간식용치즈    중가  0.000503
45   C   식품    국산과일          포도    중가  0.000499
46   B   식품    수입과자       수입초콜릿    중가  0.000487
47   C   식품    국산과일       방울토마토    중가  0.000468
48   B   식품     잎채소   친환경채소(특약)    저가  0.000457
51   B   식품      치즈       요리용치즈    중가  0.000431
52   B   식품  국산게/갈치        국산꽃게    중가  0.000418

 이미용의 추천 제품 ▼

  제휴사 대분류명 중분류명   추천 상품 금액 타입  예측 구매 지수
1   A  이미용  화장품  기초 화장품    고가  0.027408
9   A  이미용  화장품  색조 화장품    고가  0.015143

 의류의 추천 제품 ▼

   제휴사 대분류명    중분류명  추천 상품 금액 타입  예측 구매 지수
17   A   의류     캐주얼  영스트리트    중가  0.004370
18   A   의류  란제리/내의    란제리    고가  0.003645

 레저취미의 추천 제품 ▼

   제휴사  대분류명 중분류명     추천 상품 금액 타입  예측 구매 지수
19   A  레저취미  스포츠  L/C 아웃도어    중가  0.003069
24   A  레저취미  스포츠     나이키의류    중가  0.001281
41   A  레저취미  스포츠     노스페이스    중가  0.000556

 잡화의 추천 제품 ▼

   제휴사 대분류명  중분류명 추천 상품 금액 타입  예측 구매 지수
25   A   잡화  일용잡화  위생세제    저가  0.001222

 생활의 추천 제품 ▼

   제휴사 대분류명     중분류명  추천 상품 금액 타입  예측 구매 지수
43   B   생활    종량제봉투  재사용봉투    저가  0.000521
49   B   생활  야외/시즌용품   일회용품    중가  0.000435
50   B   생활     야외용품   일회용품    중가  0.000435

In [ ]:
# clust_df[clust_df ['cluster'] == 0].