In [1]:
import pandas as pd

purchase1 = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지_연도 및 금액타입 포함(split1).csv', index_col = 0)

purchase1

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14265415,15018,C,63,990213,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20151018,2015,4,10,15,11400,중가
14265416,6415,C,417,10193213,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140928,2014,3,9,13,13818,중가
14265417,15265,C,133,6069525,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150117,2015,1,1,17,13000,중가
14265418,7962,C,89,1141067,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150924,2015,3,9,18,8158,중가
14265419,2273,C,253,7565660,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141225,2014,4,12,17,21900,중가

In [2]:
purchase2 = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지_연도 및 금액타입 포함(split2).csv', index_col = 0)
purchase2

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
14265420,7249,C,200,7252615,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141116,2014,4,11,18,4497,중가
14265421,3733,C,292,9196569,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140128,2014,1,1,18,7500,중가
14265422,8710,C,277,8617166,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141102,2014,4,11,17,22120,중가
14265423,16883,C,475,6641782,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150321,2015,1,3,23,8990,중가
14265424,5625,C,64,976199,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150319,2015,1,3,18,17000,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

In [3]:
purchase = pd.concat([purchase1, purchase2], axis = 0)
purchase

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

In [4]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28255868 entries, 0 to 28593029
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   CUSTNO      int64
 1   ASSO        object
 2   STCODE      int64
 3   RNO         int64
 4   BBCL        object
 5   BCL         object
 6   MCL         object
 7   SCL         object
 8   TYPE        object
 9   PURDATE     int64
 10  PURYEAR     int64
 11  QUARTER     int64
 12  PURMONTH    int64
 13  PURHOUR     int64
 14  PURAMT      int64
 15  PRICE_TYPE  object
dtypes: int64(9), object(7)
memory usage: 3.6+ GB

## 주말/평일 구분 사용자함수 생성

In [9]:
str(20140222)

'20140222'

In [16]:
str(purchase.iloc[0,9])

'20140222'

In [17]:
datetime.strptime(str(purchase.iloc[0,9]), '%Y%m%d')

datetime.datetime(2014, 2, 22, 0, 0)

In [5]:
from datetime import datetime
  
def weekdayorweekend(d):
    date_d = datetime.strptime(str(d), '%Y%m%d')
    x = date_d.weekday()
    day = ''
    
    if x < 5:
        day= '평일'
    else:  
        day= '주말'
        
    return day

purchase['평일/주말'] = purchase['PURDATE'].apply(lambda x: weekdayorweekend(x))

In [6]:
purchase

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,평일/주말
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,주말
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,주말
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,평일
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,평일
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,주말
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가,주말
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가,주말
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가,평일
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가,주말
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가,평일

## 3분기별로 피벗데이터 생성

In [11]:
week_cust_Q1_Q3 = pd.pivot_table(purchase[(purchase['PURYEAR'] == 2014) & (purchase['QUARTER'].isin([1,2,3]))], 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q2_Q4 = pd.pivot_table(purchase[(purchase['PURYEAR'] == 2014) & (purchase['QUARTER'].isin([2,3,4]))], 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q3_Q5 = pd.pivot_table(purchase[((purchase['PURYEAR'] == 2014) & (purchase['QUARTER'].isin([3, 4])))|
                                          ((purchase['PURYEAR'] == 2015) & (purchase['QUARTER'].isin([1])))], 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q4_Q6 = pd.pivot_table(purchase[((purchase['PURYEAR'] == 2014) & (purchase['QUARTER'].isin([4])))|
                                          ((purchase['PURYEAR'] == 2015) & (purchase['QUARTER'].isin([1,2])))], 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q5_Q7 = pd.pivot_table(purchase[(purchase['PURYEAR'] == 2015) & (purchase['QUARTER'].isin([1,2,3]))], 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q6_Q8 = pd.pivot_table(purchase[(purchase['PURYEAR'] == 2015) & (purchase['QUARTER'].isin([2,3,4]))], 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

In [12]:
week_cust_Q6_Q8.head()

평일/주말      주말     평일
CUSTNO
1        65.0  226.0
2        90.0  271.0
3        83.0  282.0
4        79.0  287.0
6       116.0  491.0

In [10]:
week_cust_Q6_Q8.columns

Index(['주말', '평일'], dtype='object', name='평일/주말')

In [13]:
week_cust_df_li = [week_cust_Q1_Q3, week_cust_Q2_Q4, week_cust_Q3_Q5, week_cust_Q4_Q6, week_cust_Q5_Q7, week_cust_Q6_Q8]

for i in range(5,6):
    df = week_cust_df_li[i]
    df['주말 비율'] = df['주말']/(df['주말'] + df['평일'])
    display(df)
    df.to_csv(f'C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/주말비율/주말비율_q{i+1}_q{i+3}.csv')

평일/주말      주말     평일     주말 비율
CUSTNO
1        65.0  226.0  0.223368
2        90.0  271.0  0.249307
3        83.0  282.0  0.227397
4        79.0  287.0  0.215847
6       116.0  491.0  0.191104
...       ...    ...       ...
19333    61.0  153.0  0.285047
19334    69.0  181.0  0.276000
19335   131.0  543.0  0.194362
19336    43.0   92.0  0.318519
19337   187.0  603.0  0.236709

[18866 rows x 3 columns]

# 재시작_6분기별_정현

## 분기별 데이터 불러오기

In [4]:
import pandas as pd

In [7]:
Q1 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q1.csv", index_col = 0)
# Q2 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q2.csv", index_col = 0)
# Q3 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q3.csv", index_col = 0)
# Q4 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q4.csv", index_col = 0)
# Q5 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q5.csv", index_col = 0)
# Q6 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q6.csv", index_col = 0)
# Q7 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q7.csv", index_col = 0)
# Q8 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q8.csv", index_col = 0)

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

## 6분기로 묶기

In [ ]:
# 1-6분기
purchase_Q1_Q6 = pd.concat([Q1, Q2, Q3, Q4, Q5, Q6], axis = 0)

# 2-7분기
purchase_Q2_Q7 = pd.concat([Q2, Q3, Q4, Q5, Q6, Q7], axis = 0)

# 3-8분기
purchase_Q3_Q8 = pd.concat([Q3, Q4, Q5, Q6, Q7, Q8], axis = 0)

In [ ]:
purchase_Q1_Q6.shape, purchase_Q2_Q7.shape, purchase_Q3_Q8.shape

## 주말 컬럼 생성

### 주말 사용자 함수 생성

In [ ]:
import pandas as pd
from datetime import datetime
  
def weekdayorweekend(d):
    date_d = datetime.strptime(str(d), '%Y%m%d')
    x = date_d.weekday()
    day = ''
    
    if x < 5:
        day= '평일'
    else:  
        day= '주말'
        
    return day

In [ ]:
purchase_Q1_Q6['평일/주말'] = purchase_Q1_Q6['PURDATE'].apply(lambda x: weekdayorweekend(x))
purchase_Q2_Q7['평일/주말'] = purchase_Q2_Q7['PURDATE'].apply(lambda x: weekdayorweekend(x))
purchase_Q3_Q8['평일/주말'] = purchase_Q3_Q8['PURDATE'].apply(lambda x: weekdayorweekend(x))

## 6분기별로 주말비율 피벗테이블 생성

In [ ]:
week_cust_Q1_Q6 = pd.pivot_table(purchase_Q1_Q6, 
                                index= 'CUSTNO',
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q2_Q7 = pd.pivot_table(purchase_Q2_Q7, 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q3_Q8 = pd.pivot_table(purchase_Q3_Q8, 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

## 값 확인

In [ ]:
week_cust_Q3_Q8.head()

## 데이터 저장

In [ ]:
week_cust_df_li = [week_cust_Q1_Q6, week_cust_Q2_Q7, week_cust_Q3_Q8]

for i in range(3):
    df = week_cust_df_li[i]
    df['주말 비율'] = df['주말']/(df['주말'] + df['평일'])
    display(df)
    df.to_csv(f'C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/주말비율/주말비율_q{i+1}_q{i+6}.csv')