## 고객 성별, 나이, 구매패턴

In [1]:
import pandas as pd

In [21]:
customer = pd.read_csv('C:/cakd7/2차 프로젝트/data/고객DEMO.txt', sep = ',', encoding = 'cp949')
customer

        고객번호 성별      연령대   거주지역
0          1  M    60세이상   60.0
1          2  M    60세이상  100.0
2          3  M    60세이상   33.0
3          4  F    60세이상   16.0
4          5  M    60세이상  100.0
...      ... ..      ...    ...
19378  19379  F  20세~24세   69.0
19379  19380  F  20세~24세   39.0
19380  19381  F  40세~44세  460.0
19381  19382  F  45세~49세  460.0
19382  19383  F  25세~29세  500.0

[19383 rows x 4 columns]

## 카테고리 분류로직 데이터 불러오기

In [116]:
category_df = pd.read_csv('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/5. 추천시스템/최종cat순서나열.csv', index_col = 0)
category_df = category_df.drop_duplicates(['제휴사','소분류명'])
category_df

4616

,제휴사,대분류코드,금액 타입,대분류명_y,중분류명,소분류명,UPRICE,QTY,AVG,AVGVS,구매금액_min,구매금액_max,구매금액_mean
0,B,1,저가,식품,버섯,건버섯,3017,123931,7926,0.4,3600,68000,5712.751040
1,B,1,저가,식품,버섯,느타리버섯,3017,123931,7926,0.4,800,23840,2140.674677
2,B,1,저가,식품,버섯,버섯모둠,3017,123931,7926,0.4,990,11400,3076.950092
3,B,1,저가,식품,버섯,버섯선물세트,3017,123931,7926,0.4,36000,1068000,151396.000000
4,B,1,저가,식품,버섯,새송이버섯,3017,123931,7926,0.4,690,75900,2820.411729
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611,A,1,중가,멀티샵,기타,PECK G&C,96379,649,96379,1.0,2000,132000,21095.625000
4612,A,1,중가,멀티샵,기타,PECK Restaurant,96379,649,96379,1.0,2000,400000,69103.510640
4613,A,1,중가,멀티샵,기타,멘즈셀렉샵,96379,649,96379,1.0,40000,1130000,407436.842100
4614,A,1,중가,멀티샵,기타,스테이셔너리,96379,649,96379,1.0,2800,180000,40378.947370
4615,A,1,중가,멀티샵,기타,팩토리샵,96379,649,96379,1.0,6000,100000,24657.142860

## 유지고객데이터 불러오기

In [9]:
purchase1 = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지_연도 및 금액타입 포함(split1).csv', index_col = 0)
purchase1

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14265415,15018,C,63,990213,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20151018,2015,4,10,15,11400,중가
14265416,6415,C,417,10193213,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140928,2014,3,9,13,13818,중가
14265417,15265,C,133,6069525,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150117,2015,1,1,17,13000,중가
14265418,7962,C,89,1141067,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150924,2015,3,9,18,8158,중가
14265419,2273,C,253,7565660,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141225,2014,4,12,17,21900,중가

In [10]:
purchase2 = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지_연도 및 금액타입 포함(split2).csv', index_col = 0)
purchase2

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
14265420,7249,C,200,7252615,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141116,2014,4,11,18,4497,중가
14265421,3733,C,292,9196569,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20140128,2014,1,1,18,7500,중가
14265422,8710,C,277,8617166,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20141102,2014,4,11,17,22120,중가
14265423,16883,C,475,6641782,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150321,2015,1,3,23,8990,중가
14265424,5625,C,64,976199,식품/생활,식품,국내산돈육,국산돼지목심,일용품,20150319,2015,1,3,18,17000,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

In [11]:
purchase = pd.concat([purchase1, purchase2], axis = 0)
purchase

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

In [ ]:
purchase['ASSO_SCL'] = purchase['ASSO'] + '_' + purchase['SCL']
purchase

In [13]:
purchase

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,ASSO_SCL
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,B_사이다
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,B_사이다
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,B_사이다
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,B_사이다
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,B_사이다
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가,B_온라인팥빙수재료
28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가,B_여성발가락
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가,B_즉석쥐포
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가,B_온라인 안주
28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가,B_침실용품

## 사용자-아이템 피벗테이블 생성

In [15]:
user_item = pd.pivot_table(data = purchase,
                           index = 'CUSTNO',
                           columns = 'ASSO_SCL',
                           values = 'RNO',
                           aggfunc = 'count')
user_item

ASSO_SCL,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,A_Bag&Bag,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
user_item.to_csv('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/5. 추천시스템/surprise_data/user_item_all.csv')

## 고객속성정보 및 사용자-아이템 데이터프레임 Merge

In [22]:
customer.rename(columns = {'고객번호': 'CUSTNO'}, inplace = True)

In [24]:
customer.set_index('CUSTNO')

       성별      연령대   거주지역
CUSTNO
1       M    60세이상   60.0
2       M    60세이상  100.0
3       M    60세이상   33.0
4       F    60세이상   16.0
5       M    60세이상  100.0
...    ..      ...    ...
19379   F  20세~24세   69.0
19380   F  20세~24세   39.0
19381   F  40세~44세  460.0
19382   F  45세~49세  460.0
19383   F  25세~29세  500.0

[19383 rows x 3 columns]

In [40]:
join_df = user_item.join(customer)
join_df_정리 = join_df[customer.columns.tolist()[1:-1]+user_item.columns.tolist()]
join_df_정리

,성별,연령대,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0
3,F,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,F,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,M,35세~39세,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,F,35세~39세,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,F,35세~39세,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,M,20세~24세,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,F,30세~34세,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 엥겔지수 및 총 구매 금액 컬럼 생성

#### 총 구매금액

In [157]:
total = pd.pivot_table(data = purchase,
                         index = 'CUSTNO',
                         values = 'PURAMT',
                         aggfunc = 'sum')
total

          PURAMT
CUSTNO
1       85042550
2       99880760
3        3165167
4       16693810
6       24506417
...          ...
19333    4737498
19334   12353531
19335   16700479
19336   30610840
19337    4976309

[18866 rows x 1 columns]

#### 엥겔지수

In [154]:
purchase_food = purchase[purchase['BCL'] =='식품']
purchase_food

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,ASSO_SCL
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,B_사이다
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,B_사이다
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,B_사이다
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,B_사이다
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,B_사이다
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593022,1801,B,135,11096580,식품/생활,식품,탄산음료,온라인 탄산음료,일용품,20150725,2015,3,7,10,22780,중가,B_온라인 탄산음료
28593023,9039,B,90,9922930,식품/생활,식품,약초,둥글레,일용품,20140102,2014,1,1,20,11800,중가,B_둥글레
28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가,B_온라인팥빙수재료
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가,B_즉석쥐포
28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가,B_온라인 안주

In [217]:
total_food = pd.pivot_table(data = purchase_food[(purchase_food['PURYEAR'] == 2015) & (purchase_food['QUARTER'].isin([2,3,4]))],
                         index = 'CUSTNO',
                         values = 'PURAMT',
                         aggfunc = 'sum')
total_food

         PURAMT
CUSTNO
1       2357478
2       4026830
3        891148
4       2357502
6       3180224
...         ...
19333   1326030
19334    722649
19335   2347684
19336   1465600
19337   2692690

[18864 rows x 1 columns]

In [218]:
engel = pd.DataFrame((total_food['PURAMT'] / total['PURAMT']) * 100).rename(columns = {'PURAMT': '엥겔지수'})
engel

             엥겔지수
CUSTNO
1        2.772116
2        4.031637
3       28.154849
4       14.122013
6       12.977107
...           ...
19333   27.990091
19334    5.849736
19335   14.057585
19336    4.787846
19337   54.110185

[18866 rows x 1 columns]

In [219]:
plus_df = pd.concat([engel, total], axis = 1).rename(columns = {'PURAMT': '총 구매금액'})
plus_df

             엥겔지수    총 구매금액
CUSTNO
1        2.772116  85042550
2        4.031637  99880760
3       28.154849   3165167
4       14.122013  16693810
6       12.977107  24506417
...           ...       ...
19333   27.990091   4737498
19334    5.849736  12353531
19335   14.057585  16700479
19336    4.787846  30610840
19337   54.110185   4976309

[18866 rows x 2 columns]

In [223]:
join_df_정리.drop(['엥겔지수', '총 구매금액'], axis = 1, inplace = True)

In [224]:
join_df_정리 = join_df_정리.join(plus_df)
join_df_정리.head()

,성별,연령대,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,...,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산,엥겔지수,총 구매금액
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.772116,85042550
2,M,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,4.031637,99880760
3,F,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.154849,3165167
4,M,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.122013,16693810
6,F,60세이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.977107,24506417

In [225]:
join_df_정리.columns[[0,1,-2,-1]]

Index(['성별', '연령대', '엥겔지수', '총 구매금액'], dtype='object')

In [226]:
join_df_정리 = join_df_정리[join_df_정리.columns[[0,1,-2,-1]].tolist() + join_df_정리.columns[2:-2].tolist()]

In [227]:
join_df_정리.head()

,성별,연령대,엥겔지수,총 구매금액,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,2.772116,85042550,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M,60세이상,4.031637,99880760,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0
3,F,60세이상,28.154849,3165167,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M,60세이상,14.122013,16693810,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,F,60세이상,12.977107,24506417,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
join_df_정리.to_csv('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/5. 추천시스템/surprise_data/df_사용자_아이템_고객속성정보__정리.csv')

In [229]:
category_df.to_csv('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/5. 추천시스템/surprise_data/category_df(중복제거).csv')

## 최종 추천시스템 이후 반환될 데이터프레임 사용자함수 생성

In [230]:
import pandas as pd
import numpy as np

# 필요한 파일 저장해둔 경로입니동
## personal_all_df: second_projects/생성데이터/5. 추천시스템/surprise_data/df_사용자_아이템_고객속성정보__정리.csv
## category_df : second_projects/생성데이터/5. 추천시스템/surprise_data/category_df(중복제거).csv
## 엥겔지수 및 총구매금액 파일

# 사용자마다 경로 새로지정해줘야 함~
personal_all_df = pd.read_csv('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/5. 추천시스템/surprise_data/df_사용자_아이템_고객속성정보_정리.csv',index_col = 0)
category_df = pd.read_csv('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/5. 추천시스템/surprise_data/category_df(중복제거).csv',index_col = 0)


def show_personal_purchase_df(personal_all_df, category_df, asso_type, cust_number):
    # 최대 행 길이 지정
    max_len = len(personal_all_df.loc[4].dropna())
    pd.set_option('display.max_rows', max_len)

    # 개인 구매 정보 
    personal_purchase = personal_all_df.loc[cust_number].dropna()

    ## -----------속성정보 데이터프레임 생성-----------
    personal_series = personal_purchase[:4]
    personal_df = pd.DataFrame(personal_series).transpose().reset_index().rename(columns={"index": "고객 ID"})
    personal_df['엥겔지수'] = personal_df['엥겔지수'].apply(lambda x: np.round(x, 2))
    personal_df['성별'] = personal_df['성별'].apply(lambda x: '남자' if x == 'M' else '여자')
    personal_df['총 구매금액'] = personal_df['총 구매금액'].apply(lambda x: f'{x:,.0f}원')
    personal_df['6-8분기 총 구매횟수'] = np.sum(personal_purchase[4:]).astype(int)
    personal_df['6-8분기 총 구매횟수'] = personal_df['6-8분기 총 구매횟수'].apply(lambda x: f'{x:,.0f}회')


    ## -----------구매이력 데이터프레임 생성-----------
    asso_values_list = [asso_values.split('_') for asso_values in personal_purchase[5:].index]
    p_purchase_df = pd.DataFrame(asso_values_list, columns = ['제휴사', '소분류명'])

    p_purchase_df['구매횟수'] = personal_purchase.iloc[5:].values.astype(int)
    ### 중분류 대분류 컬럼 생성
    for idx in range(len(p_purchase_df)):
        asso = p_purchase_df.loc[idx,'제휴사']
        scl = p_purchase_df.loc[idx,'소분류명']

        bcl = category_df.loc[(category_df['제휴사'] == asso) & (category_df['소분류명'] == scl), '대분류명_y'].values[0]
        mcl = category_df.loc[(category_df['제휴사'] == asso) & (category_df['소분류명'] == scl), '중분류명'].values[0]
        p_purchase_df.loc[idx, '대분류명'] = bcl
        p_purchase_df.loc[idx, '중분류명'] = mcl

    ### 정렬: 구매횟수 제외하고 다 오름차순
    p_purchase_df = p_purchase_df[['제휴사','대분류명','중분류명','소분류명','구매횟수']]
    p_purchase_df = p_purchase_df.sort_values(['제휴사' ,'대분류명','중분류명','구매횟수'],
                                              ignore_index = True,
                                              ascending = [True, True, True, False])
    
    return personal_df, p_purchase_df[p_purchase_df['제휴사'] == asso_type]

personal_df, p_purchase_df = show_personal_purchase_df(personal_all_df, category_df, 'A', 4)
display(personal_df)
display(p_purchase_df)

   고객 ID  성별    연령대  엥겔지수       총 구매금액 6-8분기 총 구매횟수
0      4  남자  60세이상  34.5  16,693,810원         930회

   제휴사  대분류명    중분류명        소분류명  구매횟수
0    A  레저취미    골프용품     N/B골프의류     3
1    A  레저취미    골프용품     L/C골프의류     1
2    A  레저취미     스포츠       스포츠의류     4
3    A  레저취미     스포츠        스포츠화     4
4    A    식품    가공식품          밥류    26
5    A    식품    가공식품      식당가 양식    18
6    A    식품    가공식품      식당가 한식    17
7    A    식품    가공식품   즉석.스넥(매장)    13
8    A    식품    가공식품        한식델리    13
9    A    식품    가공식품        브랑제리    11
10   A    식품    가공식품        서양델리    10
11   A    식품    가공식품        중식델리     8
12   A    식품    가공식품          초밥     8
13   A    식품    가공식품          포숑     7
14   A    식품    가공식품        브랜드샵     6
15   A    식품    가공식품     식당가 커피숍     6
16   A    식품    가공식품        일식델리     6
17   A    식품    가공식품           떡     4
18   A    식품    가공식품      일반가공식품     4
19   A    식품    가공식품          면류     1
20   A    식품    가공식품      식당가 일식     1
21   A    식품    가공식품       에스닉푸드     1
22   A    식품    가공식품         케익류     1
23   A    식품    가공식품       특산물행사     1
24   A    식품    건강식품   건강식품(비타민)     2
25   A    식품    건강식품        건강식품     1
26   A    식품     농산물          청과    45
27   A    식품     농산물          채소    31
28   A    식품     농산물        농산가공    26
29   A    식품     농산물       유기농채소    17
30   A    식품     농산물          건과    11
31   A    식품     농산물     선식(가루류)     7
32   A    식품     농산물      농산단기행사     2
33   A    식품     수산품         멸치류     3
34   A    식품     수산품          생선     2
35   A    식품     수산품        기타생선     1
36   A    식품     수산품          김류     1
37   A    식품      육류          우육     7
38   A    식품   젓갈/반찬        즉석반찬    37
39   A    식품   젓갈/반찬        규격김치    31
40   A    식품   젓갈/반찬        벌크김치    14
41   A    식품   젓갈/반찬        벌크젓갈     8
42   A    식품   젓갈/반찬          장류     5
43   A    식품      주류          주류     2
44   A    식품      주류          공병     1
45   A    식품      주류          한차     1
46   A    식품    차/커피        디저트류    28
47   A    식품    차/커피        원두커피     6
48   A    식품    차/커피        수입식품     2
49   A    식품    축산가공         유제품    44
50   A    식품    축산가공           햄     1
51   A    의류  남성 트랜디       컨템포러리     3
52   A    의류   남성캐주얼         벨라모     2
53   A    의류   남성캐주얼      아날도바시니     1
54   A    의류   남성캐주얼         인디안     1
55   A    의류   남성캐주얼      클럽캠브리지     1
56   A    의류    디자이너      디자이너부틱     2
57   A    의류  란제리/내의         란제리     2
58   A    의류   모피/피혁      숙녀고정행사     8
59   A    의류      셔츠       비지니스군     9
60   A    의류    시티웨어        엘레강스     8
61   A    의류     캐주얼        스트리트     7
62   A    의류     캐주얼       이지캐주얼     7
63   A    의류     캐주얼  global SPA     3
64   A    의류     캐주얼       영 트렌디     3
65   A    의류     캐주얼        영캐주얼     3
66   A    의류     캐주얼       영스트리트     2
67   A    의류     캐주얼       영 캐릭터     1
68   A    의류     캐주얼     영밸류 캐주얼     1
69   A    의류     캐주얼      올리브핫스텁     1
70   A    의류     캐주얼        진캐주얼     1
71   A    의류     캐주얼       컬처캐주얼     1
72   A    의류     캐주얼        쿨캐주얼     1
73   A    의류     커리어       밸류커리어     3
74   A    의류     커리어         커리어     3
75   A   이미용     화장품      기초 화장품     4
76   A   이미용     화장품         기초A     4
77   A    잡화      구두        금강그룹     1
78   A    잡화    섬유잡화      모자(특정)     4
79   A    잡화    섬유잡화     손수건(특정)     2
80   A    잡화    섬유잡화      양말(특정)     2
81   A    잡화    섬유잡화    우/양산(특정)     2
82   A    잡화    섬유잡화     넥타이(특정)     1
83   A    잡화    섬유잡화     스카프(특정)     1
84   A    잡화    섬유잡화     스타킹(특정)     1
85   A    잡화    액세서리       국산ACC     3
86   A    잡화    일용잡화        위생세제    15
87   A    잡화    일용잡화        뷰티상품     8
88   A    잡화    일용잡화        일용잡화     2
89   A    잡화    피혁잡화         네셔널     1
90   A    주방      식기       국산도자기     1
91   A    주방    주방용품        수입주방     4
92   A    주방    주방용품        국산주방     3
93   A    주방    주방용품        주방잡화     1
94   A    침구   침구/수예         L.B     2
95   A    침구   침구/수예         N.B     2